<section id="intitucional4" class="py-5 px-3 p-md-5 d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12 col-xl-12 mb-4">
                <h1 class="h3 text-left text-lg-center font-weight-bold">2 tipos de tarifas todo pagado automáticamente</h1> <br> 
                <h2 class="h4 text-left text-lg-center">
                    Hay dos tipos de tarifas disponibles dentro del portafolio dedicado. Cada uno esta diseñado para pagar a los administradores 
                    de fondos por sus esfuerzos y se transfieren de la cuenta de inversión
                </h2>
              
            </div>
 
            <div class="col-12 col-md-12 col-lg-12 col-xl-6 p-4">
                <div  class="p-4 m-auto box-card">
                    <p class="text-center h4 font-weight-bold">Comisión de rentabilidad</p>
                    <p class="text-center exept">Tipo de tarifa de estándar de la industria. Calculado como x por ciento del beneficio neto.</p>
                    <p class="text-center exept">Se puede pagar mensual o bimestral.</p>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-12 col-xl-6 p-4">
                <div  class="p-4 m-auto box-card">
                    <p class="text-center h4 font-weight-bold">Comisión de gestión</p>
                    <p class="text-center exept">
                        Tipo de tarifa que se paga independientemente de la actividad comercial o ganancia obtendia. Establecer 
                        un porcentaje por año de activos.
                    </p>
                    <p class="text-center exept">
                        Se puede pagar un porcentaje del saldo.
                    </p>
                </div>
            </div>
            
           
        </div>
    </div>
</section>