<section id="preguntas" class="py-5 px-3 p-md-5 d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
            <h1 class="h3 font-weight-bold text-md-center text-sm-left">Preguntas frecuentes</h1>
            </div>
            <div class="col-md-12">
            <h2 class="h4 text-md-center text-sm-left">Información que debes conocer.</h2>
            <br><br>
            </div>
            <div class="col-lg-6 col-md-12 col-12">

                <h3 class="h5 font-weight-bold card-title text-left">¿En qué se invierte mi dinero?</h3>
                <p class="text-left">
                    Con Renta Variable tu dinero se invierte en instrumentos de mercado, acciones
                    internacionales, ETFs y commodities.
                </p>

            </div>
            <div class="col-lg-6 col-md-12 col-12">
        
                <h3 class="h5 font-weight-bold card-title text-left">¿Mis rendimientos están garantizados?</h3>
                <p class="text-left">
                    La rentabilidad puede subir o bajar en función de las opciones disponibles en el mercado.
                    Los rendimientos pasados no garantizan rendimientos futuros.
                ​​</p>
        
            </div>
            <div class="col-lg-6 col-md-12 col-12">
        
                <h3 class="h5 font-weight-bold card-title text-left">¿Quién da seguimiento a mis inversiones?</h3>
                <p class="text-left">
                    En Axin tienes a tu disposición a un equipo de expertos con más de 30 años de experiencia
                    en gestión de portafolios para inversión.
                </p>
            
            </div>
            <div class="col-lg-6 col-md-12 col-12">
        
                <h3 class="h5 font-weight-bold card-title text-left">¿Cómo se aplica la comisión en renta variable?</h3>
                <p class="text-left">
                    Queremos ayudarte, por lo cual la única comisión es por "performance fee". <br>
                    Es una pequeña comisión sobre los rendimientos obtenidos.
                </p>
        
            </div>
            <div class="col-lg-12 col-md-12 col-12 text-center">
            <br><br>
            <h3 class="h5">¿Tienes más preguntas?</h3>
            </div>
            <div class="col-lg-4 col-md-5 col-12 d-flex justify-content-center m-auto">
            <a [routerLink]="['/preguntas_frecuentes']" class="btn btn-primary col-12" >Ver más preguntas</a>
            </div>

        </div>
    </div>
</section>