<section id="preguntas" class="py-5 px-3 p-md-5 d-flex justify-content-center align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="h3 font-weight-bold text-primary text-md-center text-sm-left">Preguntas frecuentes</h1>
        </div>
        <div class="col-md-12">
          <h2 class="h4 text-md-center text-sm-left">Información que debes conocer.</h2>
          <br><br>
        </div>
        <div class="col-lg-6 col-md-12 col-12">

            <h3 class="h5 font-weight-bold text-primary card-title text-left">¿Cómo puedo depositar?</h3>
            <p class="text-left">Puedes hacer tus depósitos de forma segura mediante una transferencia electrónica por SPEI o por Bitcoin.</p>

        </div>
        <div class="col-lg-6 col-md-12 col-12">
      
            <h3 class="h5 font-weight-bold text-primary card-title text-left">¿Mis rendimientos están garantizados?</h3>
            <p class="text-left">Sí, el pago de interés es diario y la rentabilidad está sujeta a la cartera contratada. Llegando
              a su totalidad al término del plazo.</p>
      
        </div>
        <div class="col-lg-6 col-md-12 col-12">
      
            <h3 class="h5 font-weight-bold text-primary card-title text-left">¿Qué importe puedo retirar?</h3>
            <p class="text-left">Puedes retirar cualquier importe (total o parcial) siempre que los fondos a retirar estén en tu Wallet.</p>
        
        </div>
        <div class="col-lg-6 col-md-12 col-12">
      
            <h3 class="h5 font-weight-bold text-primary card-title text-left">¿Puedo modificar la cuenta para retirar los fondos?</h3>
            <p class="text-left">Sí, puedes añadir varias cuentas bancarias para el retiro de fondos siempre que estén a tu
              nombre.</p>
    
        </div>
        <div class="col-lg-12 col-md-12 col-12 text-center">
          <br><br>
          <h3 class="h5">¿Tienes más preguntas?</h3>
        </div>
        <div class="col-lg-4 col-md-5 col-12 d-flex justify-content-center m-auto">
          <a [routerLink]="['/preguntas_frecuentes']" class="btn btn-primary col-12" >Ver más preguntas</a>
        </div>
  
      </div>
    </div>
  </section>