<footer id="footer" class="py-5 px-3 p-md-5 d-flex justify-content-center align-items-center">
    <div class="container">

        <div class="row">
            <div class="col-12 col-md-6 col-lg-2">
                <h2 class="font-weight-bold text-white">Productos</h2>
                <div class="d-block">
                    <a [routerLink]="['/renta_fija']">Renta fija</a> <br>
                    <a [routerLink]="['/renta_variable']">Renta variable</a> <br>
                    <a [routerLink]="['/portafolio_dedicado']">Portafolio dedicado</a> <br>
                </div>
            </div>
            <div class="m-2 mob"></div>
            <div class="col-12 col-md-6 col-lg-2">  
                <h2 class="font-weight-bold text-white">Entérate</h2>
                <div class="d-block">
                    <a [routerLink]="['/aboutUs']">Nosotros</a> <br>
                    <a href="https://axincapital.com/blog" target="_blank">Blog</a> <br>
                    <a [routerLink]="['beneficios']">Beneficios</a> <br>
                    <!-- <a rel="nofollow noopener noreferrer" href="https://www.vorofx.mx/blog" target="_blank">Blog</a> <br> -->
                </div>
            </div>
            <div class="m-2 mob"></div>
            <div class="col-12 col-md-6 col-lg-2">
                <h2 class="font-weight-bold text-white">Ayuda</h2>
                <div class="d-block">
                    <a [routerLink]="['preguntas_frecuentes']">FAQs</a> <br>
                    <a [routerLink]="['/comunicate']">Contacto</a>
                </div>
                
            </div>
            <div class="m-2 mob"></div>
            <div class="col-12 col-md-6 col-lg-2">
                <h2 class="font-weight-bold text-white">Síguenos en</h2>
                <div class="d-block">
                    <a rel="nofollow noopener noreferrer" href="https://www.facebook.com/axincapital/" target="_blank">
                        <i class="fab fa-facebook zoom-in"></i> Facebook
                    </a> <br>
                    <a rel="nofollow noopener noreferrer" href="https://twitter.com/axincapital" target="_blank">
                        <i class="fab fa-twitter zoom-in"></i> Twitter
                    </a> <br>
                    <a rel="nofollow noopener noreferrer" href="https://www.instagram.com/axincapital/" target="_blank">
                        <i class="fab fa-instagram zoom-in"></i> Instagram
                    </a> <br>
                    <a rel="nofollow noopener noreferrer" href="https://www.youtube.com/c/AxinCapital" target="_blank">
                        <i class="fab fa-youtube zoom-in"></i> Youtube
                    </a> <br>
                    <a rel="nofollow noopener noreferrer" href="https://www.linkedin.com/company/axincapital/" target="_blank">
                        <i class="fab fa-linkedin zoom-in"></i> LinkedIn
                    </a> <br>
                </div>
            </div>
            <div class="m-2 mob"></div>
            <div class="col-12 col-md-6 col-lg-4">
                <h2 class="font-weight-bold text-white"><i class="fas fa-map-marker-alt"></i> Axin Capital LLC</h2>
                <div class="d-block">
                    <a rel="nofollow noopener noreferrer" style="font-size: 13px!important; color: #fff;">
                        Beachmont Business Centre, Suite 257, Kingstown, Saint Vincent and the Grenadines.
                    </a> <br>
                </div>
                <br>
                <h2 class="font-weight-bold text-white"><i class="fas fa-map-marker-alt"></i> Axin Trade LTD</h2>
                <div class="d-block">
                    <a rel="nofollow noopener noreferrer" style="font-size: 13px!important; color: #fff;">
                    1F NSW Court, 29 St Georges Street, Port Louis, Mauritius.
                    </a>
                </div>

            </div>
            <div class="m-2 mob"></div>
        </div>
        <div class="row mb-3 mt-5">
            <div class="col-12">
                <a [routerLink]="['/terminos_y_condiciones']">Términos y Condiciones</a>&nbsp;&nbsp;&nbsp;&nbsp;<br class="mob">
                <a [routerLink]="['/politica_aml']">Política de AML</a>&nbsp;&nbsp;&nbsp;&nbsp;<br class="mob">
                <a [routerLink]="['/politica_de_retiro']">Política de Retiro</a>&nbsp;&nbsp;&nbsp;&nbsp;<br class="mob">
                <a [routerLink]="['/politicas_de_privacidad']">Política de Privacidad</a>&nbsp;&nbsp;&nbsp;&nbsp;<br class="mob">
            </div>
            <div class="m-2 mob"></div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="text-justify text-white">
                    Axin Capital (Saint Vincent) LLC., una empresa de servicios financieros y regulada por la Autoridad de Servicios Financieros (FSA), número de registro de la empresa 497 LLC 2020.
                    <br>
                    Axin Trade (Mauritius) LTD., esta autorizada por la Comisión de Servicios Financieros (FSC) a proporcionar Asesoría en Inversión conforme a la licencia N° <a href="https://www.fscmauritius.org/en/supervision/register-of-licensees-search-by-name?act2=&catname=Axin+Trade" target="_blank">GB 222002207.</a>
                    <br><br>
                    Advertencia de riesgo: Los Productos financieros ofrecidos por la compañía incluyen Contratos por Diferencia (CFDs) así como otros productos financieros complejos. Operar con CFDs conlleva un alto nivel de riesgo, ya que el apalancamiento puede actuar tanto a su favor como en su contra. Por lo tanto, es posible que los CFDs no sean adecuados para todos los inversores, ya que podría conllevar a la pérdida de todo el capital invertido. Nunca debe de invertir el dinero que no pueda permitirse perder. Antes de operar con los productos financieros complejos que se le ofrecen, por favor, asegúrese de haber entendido todos los riesgos involucrados.
                </p>
            </div>
        </div>
        <div class="row" style="margin-bottom: 0!important; margin-top: 13px;">
            <div class="col-12">
                <img loading="lazy" class="m-0 mx-auto d-block" src="assets/img/logo-white.png" alt="vorofx vorofx"> 
                <p style="padding-top: 17px!important;" class="text-white">
                    ©️ 2021 Todos los derechos reservados.
                </p>
            </div>
        </div>
    </div>
</footer>