<section id="fija1" class="py-5 px-3 p-md-5 d-flex justify-content-center align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="h1 text-md-center text-sm-left text-white font-weight-bold">
                    Haz que tu dinero crezca <br class="web">
                    más que en cualquier banco
                </h1>
                <br><br>
                <h2 class="h2 text-md-center text-sm-left text-white">
                    Invierte en renta fija y gana hasta el 12% anual. 
                </h2>
                <br><br>
            </div>
            <form #startForm=ngForm (ngSubmit)="onSubmit()" class="p-0 col-xl-12 col-lg-12 col-md-12 col-12 d-flex justify-content-center">
                <div class="form-row col-xl-12 col-lg-12 col-md-12 col-12 d-flex justify-content-center">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-12 px-0">
                        <label for="correo" hidden>Correo</label>
                        <input type="email" value="" name="correo" class="form-control col-12" placeholder="Correo electrónico"  [(ngModel)]="form.email" required>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-6 col-12 px-0 pl-md-1">
                        <button type="submit" class="btn btn-primary col-12 text-nowrap mt-1 mt-md-0" >Quiero empezar</button>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-12 px-0">
                        <br>
                        <p class="text-center text-white">Al enviar el correo electrónico, aceptas nuestros <a [routerLink]="['/terminos_y_condiciones']" class="text-yellow">Términos y Condiciones.</a></p>
                    </div>
                </div>
            </form>
            
        </div>
    </div>
</section>