<div class="section footer">
    <div class="footer_header">
        <div class="redes">
            <a href="https://www.facebook.com/axincapital" class="icono" target="_blank">
                <img src="assets/img/invierte/facebook.svg" alt="Facebook" class="ajust">
            </a>
            <a href="https://www.instagram.com/axincapital/" class="icono" target="_blank">
                <img src="assets/img/invierte/Instagram.svg" alt="" class="ajust">
            </a>
            <a href="mailto:hola@axincapital.com" class="icono" target="_blank">
                <img src="assets/img/invierte/Mail.svg" alt="" class="ajust">
            </a>
            <a href="https://twitter.com/axincapital" class="icono" target="_blank">
                <img src="assets/img/invierte/Twitter.svg" alt="" class="ajust">
            </a>
            <a href="https://wa.me/message/UZZL7EA4S7I5I1" class="icono" target="_blank">
                <img src="assets/img/invierte/Whatsapp.svg" alt="" class="ajust">
            </a>
        </div>
        <div class="legal">
            <a [routerLink]="['/terminos_y_condiciones']">Términos y Condiciones</a>
            <a [routerLink]="['/politica_aml']">Política de AML</a>
            <a [routerLink]="['/politica_de_retiro']">Política de Retiro</a>
            <a [routerLink]="['/politicas_de_privacidad']">Política de Privacidad</a>
        </div>
    </div>
    <div class="content" style="color: #fff;">
        <p>
            Axin Capital LLC está constituida como Sociedad de responsabilidad limitada bajo las leyes de San
            Vicente y
            las Granadinas, con el número de registro 497 LLC 2020.
        </p>
        <br>
        <p>
            Regiones restringidas: La información de este sitio web no está dirigida a residentes de ciertas
            jurisdicciones / países, entre los que se incluyen Estados Unidos de América, Canadá, Reino Unido o en
            cualquier jurisdicción donde dicha distribución sea contraria a las leyes y regulaciones locales.
        </p>
        <br>
        <p>
            Advertencia de riesgo: Los Productos financieros ofrecidos por la compañía incluyen Contratos por
            Diferencia
            (CFDs) así como otros productos financieros complejos. Operar con CFDs conlleva un alto nivel de riesgo,
            ya
            que el apalancamiento puede actuar tanto a su favor como en su contra. Por lo tanto, es posible que los
            CFDs
            no sean adecuados para todos los inversores, ya que podría conllevar a la pérdida de todo el capital
            invertido. Nunca debe de invertir el dinero que no pueda permitirse perder. Antes de operar con los
            productos financieros complejos que se le ofrecen, por favor, asegúrese de haber entendido todos los
            riesgos
            involucrados.
        </p>
    </div>
    <div class="rights">
        <div class="logo_footer">
            <img src="assets/img/logo-white.png" alt="vorofx vorofx" class="ajust">
            <div class="c">&#169;</div>
        </div>
        <div class="text">
            <span>Todos los derechos reservados</span>
        </div>
    </div>
</div>