<section class="py-5 px-3 p-md-5 d-flex justify-content-start align-items-center">
  <div class="row">
    <div class="col text-center py-5">
      <h1>Objetivos y Visión</h1>
    </div>
  </div>
  <div class="container d-flex justify-content-center boxContainer flex-wrap">
    <div class="col-12 col-lg-6 ">
      <div class="box d-flex flex-column">
        <div class="head-box d-flex">
          <div class="tittle">Nuestra estrategia</div>
          <div class="img">
            <img src="assets/img/aboutUs/box-icon-left.png" alt="cubos">
          </div>
        </div>
        <div class="body-box">
          <div class="text-content">
            <p>
              Axin ha establecido una base sólida y consolidada para ofrecer un crecimiento futuro. Las prioridades estratégicas de Axin han logrado diferenciarnos de la banca tradicional al implementar de forma constante tecnología financiera avanzada al alcance del usuario final.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-6">


      
      <div class="box right d-flex flex-column">
        <div class="head-box d-flex">
          <div class="tittle" >Visión
          <!-- <br> -->
          <!-- <span id="text-aux" style="color: black;">Nuestra estrategia</span> -->
          </div>
          <div class="img">
            <img src="assets/img/aboutUs/box-icon-right.png" alt="lentes">
          </div>
        </div>
        <div class="body-box">
          <div class="text-content">
            <p>
              Brindar soluciones financieras que generen valor al capital de nuestros clientes para que puedan hacer frente a los desafíos del presente y el futuro.
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
