<section id="solucionWeb" class="py-5 px-3 p-md-5">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <h1 class="h3 text-md-center text-sm-left font-weight-bold">Productos de Renta Variable</h1>
        </div>
        <div class="col-md-12">
            <h2 class="h4 text-md-center text-sm-left">Pon a trabajar tu dinero en renta variable de forma fácil, confiable y con rendimientos atractivos.</h2>
            <br><br>
        </div> 

        <div id="inversionista" class="col-xl-5 col-lg-6 col-md-9 col-12">
            <div class="row col-lg-12 col-md-12 col-12 color">
                <div class="hidde col-lg-3 col-md-3 col-3">
                    <img loading="lazy" src="assets/img/Captura1.png" style="width: 5rem;" alt="inversionista">

                </div>
                <div class="hidde col-lg-9 col-md-9 col-9">
                    <h1 class="h1Exep percent text-center font-weight-bold text-primary">26%</h1>
                    <p class="card-text text-center">Promedio anual</p>
                </div>
                <div class="hidde col-lg-12 col-md-12 col-12">
                    <br><br>
                    <h5 class="card-title text-left font-weight-bold">Inversionista</h5>
                    <p class="card-text text-left">Con duración mínima de 1 año.</p>
                </div>

                <div class="show col-lg-6 col-md-6 col-6">
                    <p class="text-justify">
                        <span class="font-weight-bold text-primary">26% </span> <span class="font-weight-bold text-dark">Inversionista</span> 
                        <br><br>
                        <span class="text-dark">
                            Retiro de interés <br>
                            Plazo <br>
                            Tipo de inversión <br>
                            Inversión mínima
                        </span>
                    </p>

                </div>
                <div class="show col-lg-6 col-md-6 col-6">
                    <p class="text-justify">
                        <span class="text-dark">Condiciones</span> 
                        <br><br>
                        <span class="font-weight-bold text-dark">
                            Mensual <br>
                            1 año <br>
                            Renta variable <br>
                        </span>
                        <span class="font-weight-bold text-primary">$500 USD</span>    
                        
                    </p>
                </div>

            </div>
        </div>
        <div id="mercado" class="col-xl-5 col-lg-6 col-md-9 col-12">
            <div class="row col-lg-12 col-md-12 col-12 color">
                <div class="hidde col-lg-3 col-md-3 col-3">
                    <img loading="lazy" src="assets/img/Captura2.png" style="width: 5rem;" alt="Mercado">

                </div>
                <div class="hidde col-lg-9 col-md-9 col-9">
                    <h1 class="h1Exep percent text-center font-weight-bold text-primary">33%</h1>
                    <p class="card-text text-center">Promedio anual</p>
                </div>
                <div class="hidde col-lg-12 col-md-12 col-12">
                    <br><br>
                    <h5 class="card-title text-left font-weight-bold">Mercado</h5>
                    <p class="card-text text-left">Con duración mínima de 1 año.</p>
                </div>

                <div class="show col-lg-6 col-md-6 col-6">
                    <p class="text-justify">
                        <span class="font-weight-bold text-primary">33% </span> <span class="font-weight-bold text-dark">Mercado</span> 
                        <br><br>
                        <span class="text-dark">
                            Retiro de interés <br>
                            Plazo <br>
                            Tipo de inversión <br>
                            Inversión mínima
                        </span>
                    </p>

                </div>
                <div class="show col-lg-6 col-md-6 col-6">
                    <p class="text-justify">
                        <span class="text-dark">Condiciones</span> 
                        <br><br>
                        <span style="color: black; font-weight: bold;">
                            Anual <br>
                            1 año <br>
                            Renta variable <br>
                        </span>
                        <span class="font-weight-bold text-primary">$500 USD</span>    
                        
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>


</section>

<section id="solucionMob" class="py-5 px-3 p-md-5">
<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h1 class="h3 text-md-center text-sm-left font-weight-bold">Productos de Renta Variable</h1>
        </div>
        <div class="col-md-12">
            <h1 class="h4 text-md-center text-sm-left">Pon a trabajar tu dinero en renta variable de forma fácil, confiable y con rendimientos atractivos.</h1>
        
        </div>
    </div>
</div>
  
<swiper [config]="config" class="text-center">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div id="inversionista" class="col-lg-6 col-md-9 col-12 col-sm-9">
                <div class="row col-lg-12 col-md-12 col-12 color">
                    <div class="hidde col-lg-3 col-md-3 col-3">
                        <img loading="lazy" src="assets/img/Captura1.png" style="width: 5rem;" alt="Inversionista">

                    </div>
                    <div class="hidde col-lg-9 col-md-9 col-9">
                        <h1 class="h1Exep percent text-right font-weight-bold text-primary">26%</h1>
                        <p class="card-text text-right">Promedio anual</p>
                    </div>
                    <div class="hidde col-lg-12 col-md-12 col-12">
                        <br><br>
                        <h5 class="card-title text-left font-weight-bold">Inversionista</h5>
                        <p class="card-text text-left">Con duración mínima de 1 año.</p>
                    </div>

                    <div class="show col-lg-6 col-md-6 col-6">
                        <p class="text-justify" style="font-size: 13px; padding-left: 0; padding-right: 0;">
                            <span  class="font-weight-bold text-primary">26% </span> <span class="font-weight-bold text-dark">Inversionista</span> 
                            <br><br>
                            <span class="text-dark">
                                Retiro de interés <br>
                                Plazo <br>
                                Tipo de inversión <br>
                                Inversión mínima
                            </span>
                        </p>

                    </div>
                    <div class="show col-lg-6 col-md-6 col-6">
                        <p class="text-justify" style="font-size: 13px; padding-left: 0; padding-right: 0;">
                            <span class="text-dark">Condiciones</span> 
                            <br><br>
                            <span style="color: black; font-weight: bold;">
                                Mensual <br>
                                1 año <br>
                                Renta variable <br>
                            </span>
                            <span class="font-weight-bold text-primary">$500 USD</span>    
                            
                        </p>
                    </div>

                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div id="mercado" class="col-lg-6 col-md-9 col-12 col-sm-9">
                <div class="row col-lg-12 col-md-12 col-12 color">
                    <div class="hidde col-lg-3 col-md-3 col-3">
                        <img loading="lazy" src="assets/img/Captura2.png" style="width: 5rem;" alt="Mercado">

                    </div>
                    <div class="hidde col-lg-9 col-md-9 col-9">
                        <h1 class="h1Exep percent text-right font-weight-bold text-primary">33%</h1>
                        <p class="card-text text-right">Promedio anual</p>
                    </div>
                    <div class="hidde col-lg-12 col-md-12 col-12">
                        <br><br>
                        <h5 class="card-title text-left font-weight-bold">Mercado</h5>
                        <p class="card-text text-left">Con duración mínima de 1 año.</p>
                    </div>

                    <div class="show col-lg-6 col-md-6 col-6">
                        <p class="text-justify" style="font-size: 13px; padding-left: 0; padding-right: 0;">
                            <span  class="font-weight-bold text-primary">33% </span> <span class="font-weight-bold text-dark">Mercado</span> 
                            <br><br>
                            <span class="text-dark">
                                Retiro de interés <br>
                                Plazo <br>
                                Tipo de inversión <br>
                                Inversión mínima
                            </span>
                        </p>

                    </div>
                    <div class="show col-lg-6 col-md-6 col-6">
                        <p class="text-justify" style="font-size: 13px; padding-left: 0; padding-right: 0;">
                            <span class="text-dark">Condiciones</span> 
                            <br><br>
                            <span style="color: black; font-weight: bold;">
                                Anual <br>
                                1 año <br>
                                Renta variable <br>
                            </span>
                            <span class="font-weight-bold text-primary">$500 USD</span>    
                            
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="swiper-button-next" style="border:0; outline:none!important;"><i class="fas fa-arrow-right" style="border:0; outline:none!important;"></i></div>
    <div class="swiper-button-prev" style="border:0; outline:none!important;"><i class="fas fa-arrow-left" style="border:0; outline:none!important;"></i></div>
</swiper>

</section>