<div class="home--cuenta wrap full">
  <div class="home__block trading">
    <div class="home__block--ttl ttl ttl_JS active">
      <div><span class="show">Renta fija:</span></div>
    </div>
    <div class="home__block--sub">Perfil conservador</div>
    <ul class="home__block--list">
      <li>
        <img loading="lazy" src="assets/img/home-mas.png" alt="home1">
        ¡Tu dinero rendirá más que en cualquier banco!
      </li>
      <li>
        <img loading="lazy" src="assets/img/home-mas.png" alt="home2">
        Elimina el riesgo invirtiendo a plazos con renta fija.
      </li>
      <li>
        <img loading="lazy" src="assets/img/home-mas.png" alt="home3">
        Incrementa tus rendimientos invirtiendo a mayor plazo.
      </li>
      <li>
        <img loading="lazy" src="assets/img/home-mas.png" alt="home4">
        Podrás retirar tus intereses de manera mensual.
      </li>
    </ul>
    <a class="btn mInfo" [routerLink]="['/renta_fija']">Conocer más
      <img loading="lazy" src="assets/img/flecha-blanca.png" alt="home5">
    </a>
  </div>
  <div class="home__block wm">
    <div class="home__block--ttl ttl ttl_JS active">
      <div><span class="show">Renta variable:</span></div>
    </div>
    <div class="home__block--sub">Perfil moderado</div>
    <ul class="home__block--list">
      <li>
        <img loading="lazy" src="assets/img/home-mas.png" alt="home6">
        ¡Supera tus metas financieras con nuestras estrategias!
      </li>
      <li>
        <img loading="lazy" src="assets/img/home-mas.png" alt="home7">
        Tu dinero trabajará para ti con el beneficio de interés compuesto.
      </li>
      <li>
        <img loading="lazy" src="assets/img/home-mas.png" alt="home8">
        Diversifica tu inversión gracias al respaldo de nuestros expertos.
      </li>
      <li>
        <img loading="lazy" src="assets/img/home-mas.png" alt="home9">
        Podrás retirar tus rendimientos de manera mensual.
      </li>
    </ul>
    <a class="btn mInfo" [routerLink]="['/renta_variable']">Conocer más
      <img loading="lazy" src="assets/img/flecha-blanca.png" alt="home10">
    </a>
  </div>
</div>