
<div id="invierte1" class="py-4 d-flex justify-content-center align-items-center">

    <div class="container">

        <div class="d-flex justify-content-center justify-content-lg-start mb-4">
            <img loading="lazy" src="assets/img/logo-blue.png" alt="vorofx vorofx" id="logo">
        </div>
        <div class="row col-12 col-md-12 col-lg-12 m-auto px-0 d-flex align-items-center">
            
            <div class="col-12 col-md-12 col-lg-6 web mt-4 px-0">
               <h1 class="title mt-4">Invierte tu Realidad</h1> <br>
                <p class="paragraph mb-4">
                    Todos queremos un mejor auto, una mejor casa, poder vacacionar o simplemente lograr esa estabilidad financiera. La solución más efectiva para cumplir estos objetivos es invertir tu dinero.
                </p>
               <button (click)="modalConocerMas()" class="btn-custom py-2 px-4 mt-4">Quiero invertir mi realidad</button>
            </div>
            <div class="col-12 col-md-12 col-lg-6 d-flex align-items-center justify-content-center web">
               <img loading="lazy" class="col-12" src="assets/img/invierte/CasaITR.png" alt="casa">
            </div>


            <div class="col-12 col-md-12 col-lg-6 mob px-0">
                <div class="col-12 mb-4 px-0">
                    <h1 class="title text-center text-md-left">Invierte tu realidad</h1>
                </div>
                <div class="col-12 d-flex align-items-center justify-content-center mb-4 px-0">
                    <img loading="lazy" class="col-12 px-0" src="assets/img/invierte/CasaITR.png" alt="casa">
                 </div>
                <div class="col-12 px-0">
                    <p class="paragraph text-left mb-4">
                        Todos queremos un mejor auto, una mejor casa, poder vacacionar o simplemente lograr esa estabilidad financiera. La solución más efectiva para cumplir estos objetivos es invertir tu dinero.
                    </p>
                    <button  (click)="modalConocerMas()" class="mx-auto btn-custom d-flex justify-content-center align-items-center">Quiero invertir mi realidad</button>
                </div>
          
            </div>
      
        </div>
      
    </div>

</div>
  