<section id="solucionWeb" class="py-5 px-3 p-md-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <h1 class="h3 text-md-center text-sm-left text-primary font-weight-bold ">Productos de Renta Fija</h1>
            </div>
            <div class="col-md-12">
                <h2 class="h4 text-md-center text-sm-left">
                    Pon a trabajar tu dinero en renta fija de forma fácil, confiable y con tasas atractivas.</h2>
                <br><br> 
            </div>
            <div id="crece" class="col-xl-5 col-lg-6 col-md-9 col-12">
                <div class="row col-lg-12 col-md-12 col-12 color">
                    <div class="hidde col-lg-3 col-md-3 col-3">
                        <img loading="lazy" src="assets/img/Cuenta_2.png" style="width: 5rem;" alt="crece">

                    </div>
                    <div class="hidde col-lg-9 col-md-9 col-9">
                        <h1 class="h1Exep percent text-center font-weight-bold text-primary">10%</h1>
                        <p class="card-text text-center">Tasa anual</p>
                    </div>
                    <div class="hidde col-lg-12 col-md-12 col-12">
                        <br><br>
                        <h5 class="card-title text-left font-weight-bold">Crece</h5>
                        <p class="card-text text-left">Con duración mínima de 1 año.</p>
                    </div>

                    <div class="show col-lg-7 col-md-7 col-7">
                        <p class="text-justify">
                            <span class="font-weight-bold text-primary">10% </span> <span class="font-weight-bold text-dark">Crece</span>
                            <br><br>
                            <span class="text-dark">
                                Pago de intereses <br>
                                Plazo <br>
                                Tipo de inversión <br>
                                Inversión mínima
                            </span>
                        </p>

                    </div>
                    <div class="show col-lg-5 col-md-5 col-5">
                        <p class="text-justify">
                            <span style="color: black;">Condiciones</span>
                            <br><br>
                            <span style="color: black; font-weight: bold;">
                                Mensual <br>
                                1 año <br>
                                Renta fija <br>
                            </span>
                            <span class="font-weight-bold text-primary">$500 USD</span>
 
                        </p>
                    </div>

                </div>
            </div>
            <div id="impulso" class="col-xl-5 col-lg-6 col-md-9 col-12">
                <div class="row col-lg-12 col-md-12 col-12 color">
                    <div class="hidde col-lg-3 col-md-3 col-3">
                        <img loading="lazy" src="assets/img/Cuenta_3.png" style="width: 5rem;" alt="impulso">

                    </div>
                    <div class="hidde col-lg-9 col-md-9 col-9">
                        <h1 class="h1Exep percent text-center font-weight-bold text-primary">12%</h1>
                        <p class="card-text text-center">Tasa anual</p>
                    </div>
                    <div class="hidde col-lg-12 col-md-12 col-12">
                        <br><br>
                        <h5 class="card-title text-left font-weight-bold">Impulso</h5>
                        <p class="card-text text-left">Con duración mínima de 1 año.</p>
                    </div>
                    <div class="show col-lg-7 col-md-7 col-7">
                        <p class="text-justify">
                            <span class="font-weight-bold text-primary">12% </span> <span class="font-weight-bold text-dark">Impulso</span>
                            <br><br>
                            <span class="text-dark">
                                Pago de intereses <br>
                                Plazo <br>
                                Tipo de inversión <br>
                                Inversión mínima
                            </span>
                        </p>

                    </div>
                    <div class="show col-lg-5 col-md-5 col-5">
                        <p class="text-justify">
                            <span class="text-dark">Condiciones</span>
                            <br><br>
                            <span class="font-weight-bold text-dark">
                                Anual <br>
                                1 año <br>
                                Renta fija <br>
                            </span>
                            <span class="font-weight-bold text-primary">$500 USD</span>

                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>


</section>

<section id="solucionMob" class="py-5 px-3 p-md-5">
    <div class="container">
       <div class="row">
            <div class="col-md-12">
                <h1 class="h3 text-md-center text-sm-left text-primary font-weight-bold">Productos de Renta Fija</h1>
            </div>
            <div class="col-md-12">
                <h1 class="h4 text-md-center text-sm-left">Pon a trabajar tu dinero en renta fija de forma fácil, confiable y con tasas atractivas.</h1>
            
            </div>
       </div>
    </div>
    <swiper [config]="config" class="text-center">
        <div class="swiper-wrapper">

            <div class="swiper-slide">
                <div id="crece" class="col-lg-9 col-md-9 col-12 col-sm-9">
                    <div class="row col-lg-12 col-md-12 col-12 color">
                        <div class="hidde col-lg-3 col-md-3 col-3">
                            <img loading="lazy" src="assets/img/Cuenta_2.png" style="width: 5rem;" alt="crece">

                        </div>
                        <div class="hidde col-lg-9 col-md-9 col-9">
                            <h1 class="h1Exep percent text-right font-weight-bold text-primary">10%</h1>
                            <p class="card-text text-right">Tasa anual</p>
                        </div>
                        <div class="hidde col-lg-12 col-md-12 col-12">
                            <br><br>
                            <h5 class="card-title text-left font-weight-bold">Crece</h5>
                            <p class="card-text text-left">Con duración mínima de 1 año.</p>
                        </div>

                        <div class="show col-lg-7 col-md-7 col-7">
                            <p class="text-justify" style="font-size: 13px; padding-left: 0; padding-right: 0;">
                                <span class="font-weight-bold text-primary">10% </span> <span class="font-weight-bold text-dark">Crece</span>
                                <br><br>
                                <span style="color: black;">
                                    Pago de intereses <br>
                                    Plazo <br>
                                    Tipo de inversión <br>
                                    Inversión mínima
                                </span>
                            </p>

                        </div>
                        <div class="show col-lg-5 col-md-5 col-5">
                            <p class="text-justify" style="font-size: 13px; padding-left: 0; padding-right: 0;">
                                <span style="color: black;">Condiciones</span>
                                <br><br>
                                <span style="color: black; font-weight: bold;">
                                    Mensual <br>
                                    1 año <br>
                                    Renta fija <br>
                                </span>
                                <span class="font-weight-bold text-primary">$500 USD</span>

                            </p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div id="impulso" class="col-lg-9 col-md-9 col-12 col-sm-9">
                    <div class="row col-lg-12 col-md-12 col-12 color">
                        <div class="hidde col-lg-3 col-md-3 col-3">
                            <img loading="lazy" src="assets/img/Cuenta_3.png" style="width: 5rem;" alt="impulso">

                        </div>
                        <div class="hidde col-lg-9 col-md-9 col-9">
                            <h1 class="h1Exep percent text-right font-weight-bold text-primary">12%</h1>
                            <p class="card-text text-right">Tasa anual</p>
                        </div>
                        <div class="hidde col-lg-12 col-md-12 col-12">
                            <br><br>
                            <h5 class="card-title text-left font-weight-bold">Impulso</h5>
                            <p class="card-text text-left">Con duración mínima de 1 año.</p>
                        </div>

                        <div class="show col-lg-7 col-md-7 col-7">
                            <p class="text-justify" style="font-size: 13px; padding-left: 0; padding-right: 0;">
                                <span class="font-weight-bold text-primary">12% </span> <span
                                    class="font-weight-bold text-dark">Impulso</span>
                                <br><br>
                                <span class="text-dark">
                                    Pago de intereses <br>
                                    Plazo <br>
                                    Tipo de inversión <br>
                                    Inversión mínima
                                </span>
                            </p>

                        </div>
                        <div class="show col-lg-5 col-md-5 col-5">
                            <p class="text-justify" style="font-size: 13px; padding-left: 0; padding-right: 0;">
                                <span class="text-dark">Condiciones</span>
                                <br><br>
                                <span class="font-weight-bold text-dark">
                                    Anual <br>
                                    1 año <br>
                                    Renta fija <br>
                                </span>
                                <span class="text-primary font-weight-bold">$500 USD</span>

                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-button-next" style="border:0; outline:none!important;"><i class="fas fa-arrow-right"
                style="border:0; outline:none!important;"></i></div>
        <div class="swiper-button-prev" style="border:0; outline:none!important;"><i class="fas fa-arrow-left"
                style="border:0; outline:none!important;"></i></div>
    </swiper>


   
</section>