<div class="section one" id="one">
    <h1>¿Cómo funciona?</h1>
    <div class="tarjetas">
        <!-- TARJETA NUMERO 1 -->
        <div class="tarjeta">
            <!-- flex-->
            <div class="tar_header">
                <!-- flex-->
                <h1 class="tar_num">
                    1
                </h1>
                <div class="tar_titulo">
                    <!-- EL QUE TENDRÁ EL BORDE NEGRO Y CONTROLARÁ EL ANCHO DE LA TARJETA -->
                    <!-- flex-->
                    <div class="tipo">
                        Depósito
                    </div>
                    <div class="type_crypt mob">
                        Crypto:
                    </div>
                </div>
            </div>

            <div class="tar_body">
                <!-- flex-->
                <div class="type_crypt body web">
                    Crypto:
                </div>
                <div class="item_list">
                    <!-- flex-->
                    <div class="item">
                        <div class="icon"><img src="assets/img/invierte/btc.svg" alt="" class="ajust"></div>
                        <div class="text">BTC</div>
                    </div>
                    <div class="item">
                        <div class="icon"><img src="assets/img/invierte/eth.svg" alt="" class="ajust"></div>
                        <div class="text">ETH</div>
                    </div>
                    <div class="item">
                        <div class="icon"><img src="assets/img/invierte/usdt.svg" alt="usdt" class="ajust"></div>
                        <div class="text">USDT</div>
                    </div>
                    <div class="item">
                        <div class="icon"><img src="assets/img/invierte/ltc.svg" alt="" class="ajust"></div>
                        <div class="text">LTC</div>
                    </div>
                </div>
            </div>

        </div>


        <!-- TARJETA NUMERO 2 -->
        <div class="tarjeta">
            <!-- flex-->
            <div class="tar_header">
                <!-- flex-->
                <h1 class="tar_num">
                    2
                </h1>
                <div class="tar_titulo">
                    <!-- EL QUE TENDRÁ EL BORDE NEGRO Y CONTROLARÁ EL ANCHO DE LA TARJETA -->
                    <!-- flex-->
                    <div class="tipo">
                        Intercambio
                    </div>
                    <div class="type_crypt mob">
                        FIAT:
                    </div>
                </div>
            </div>

            <div class="tar_body">
                <!-- flex-->
                <div class="type_crypt body web">
                    FIAT:
                </div>
                <div class="item_list">
                    <!-- flex-->
                    <div class="item">
                        <div class="icon"><img src="assets/img/invierte/usd.svg" alt="" class="ajust"></div>
                        <div class="text">USD</div>
                    </div>
                </div>
            </div>

        </div>


        <!-- TARJETA NUMERO 3 -->
        <div class="tarjeta">
            <!-- flex-->
            <div class="tar_header">
                <!-- flex-->
                <h1 class="tar_num">
                    3
                </h1>
                <div class="tar_titulo">
                    <!-- EL QUE TENDRÁ EL BORDE NEGRO Y CONTROLARÁ EL ANCHO DE LA TARJETA -->
                    <!-- flex-->
                    <div class="tipo">
                        Retiro
                    </div>
                    <div class="type_crypt mob">
                        Crypto:
                    </div>
                </div>
            </div>

            <div class="tar_body">
                <!-- flex-->
                <div class="type_crypt body web">
                    Crypto:
                </div>
                <div class="item_list">
                    <!-- flex-->
                    <div class="item">
                        <div class="icon"><img src="assets/img/invierte/btc.svg" alt="" class="ajust"></div>
                        <div class="text">BTC</div>
                    </div>
                    <div class="item">
                        <div class="icon"><img src="assets/img/invierte/eth.svg" alt="" class="ajust"></div>
                        <div class="text">ETH</div>
                    </div>
                    <div class="item">
                        <div class="icon"><img src="assets/img/invierte/usdt.svg" alt="usdt" class="ajust"></div>
                        <div class="text">USDT</div>
                    </div>
                    <div class="item">
                        <div class="icon"><img src="assets/img/invierte/ltc.svg" alt="" class="ajust"></div>
                        <div class="text">LTC</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>