
<div id="book2" class="d-flex justify-content-center align-items-center">

    <div class="container">


        <div class="row col-12 col-md-12 col-lg-12 m-auto px-0">
            
            <div class="col-12 col-md-12 col-lg-12">
               <h1 class="title">En este E-book encontrarás:</h1>
            </div>
            <div class="m-4 col-12"></div>
            <div class="col-12 col-md-12 col-lg-6 ">
                <div class="d-flex justify-content-start align-items-center">
                    <img loading="lazy" style="width: 80px;" class="mr-4" src="assets/img/ebook/Dinero.svg" alt="diccionario">
                    <p class="paragraph">
                        Una <span class="font-weight-bold">descripción</span> de los distintos <br>
                        productos de inversión que <br>
                        existen en el mercado
                    </p>
                </div>
                <div class="m-2 p-2 m-md-4 p-md-2"></div>
                <div class="d-flex justify-content-start align-items-center">
                    <img loading="lazy" style="width: 80px;" class="mr-4" src="assets/img/ebook/Diccionario.svg" alt="diccionario">
                    <p class="paragraph">
                        Un <span class="font-weight-bold">glosario</span> con los términos que <br> 
                        debes dominar en el mundo de <br>
                        las inversiones
                    </p>
                </div>
                <div class="m-2 p-2 m-md-4 p-md-2"></div>
                <div class="d-flex justify-content-start align-items-center">
                    <img loading="lazy" style="width: 80px;" class="mr-4" src="assets/img/ebook/Lego.svg" alt="diccionario">
                    <p class="paragraph">
                        Una <span class="font-weight-bold">guía</span> para construir las bases <br>
                        de tu primer inversión
                    </p>
                </div>
                <div class="m-2 p-2 m-md-4 p-md-2"></div>
                <div class="d-flex justify-content-start align-items-center">
                    <img loading="lazy" style="width: 80px;" class="mr-4" src="assets/img/ebook/Idea.svg" alt="diccionario">
                    <p class="paragraph">
                        Los <span class="font-weight-bold">mejores</span> tips para invertir <br>
                        como todo un experto
                    </p>
                </div>
                <div class="m-2 p-2 m-md-4 p-md-2"></div>
            </div>
            <div class="col-12 col-md-12 col-lg-6 px-0 px-md-2">
               
                <form [formGroup]="ebookForm" (ngSubmit)="onSubmit()"  class="col-12 p-4">
                    
                    <div class="form-row p-4">
                        <div class="col-12 mb-4">
                            <h2 class="text-center">Descarga nuestro contenido exclusivo.</h2>
                        </div>
                        <div class="col-12 mb-4">
                            <label class="ml-3" for="name">Nombre completo <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" formControlName="name">
                        </div>
                        <div class="col-12 mb-4">
                            <label class="ml-3" for="name">Correo electrónico <span class="text-danger">*</span></label>
                            <input type="email" class="form-control" formControlName="email">
                        </div>
                        <div class="col-12 mb-4">
                            <div class="form-check mx-3">
                                <input class="form-check-input" type="checkbox" formControlName="terms" required>
                                <label style="font-size: 0.70rem!important;" class="form-check-label textexep font terminosycondiciones" for="terminos">He leído y estoy de acuerdo con el Aviso de Privacidad, por lo que autorizo el tratamiento de mis datos personales. <span class="text-danger">*</span></label>
                            </div>
                        </div>
                        <div class="col-12 mb-4">
                            <button class="btn btn-block font-weight-bold text-white d-flex justify-content-center align-items-center " [disabled]="!ebookForm.valid">
                                <span *ngIf="!load">Enviar</span>
                                <span *ngIf="load" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                <span *ngIf="load" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                <span *ngIf="load" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>

                </form>
            </div>


        </div>

     
      
    </div>

</div>
  