<section id="intitucional3" class="py-5 px-3 p-md-5 d-flex justify-content-around align-items-center">
    <div class="container">
        <div class="row d-flex justify-content-between">
            <div class="col-12 col-md-12 col-lg-12 col-xl-12 mb-4">
                <h1 class="h3 text-center web font-weight-bold text-white">Arquitectura de Vanguardia <br class="web"> con todas las funciones</h1> <br> <br>
                <h2 class="h4 text-center web text-white">Nuestro portafolio dedicado proporciona todas las funciones básicas y <br class="web"> avanzadas para este tipo de productos.</h2>
                <h1 class="h3 text-left mob font-weight-bold text-white">Beneficios</h1> <br>
                <h2 class="h4 text-left mob text-white">Demostramos profesionalismo desde el principio.</h2>
              
            </div>
            <div class="col-12 col-md-12 m-4"></div>

            
            <div class="col-12 col-md-12 col-lg-12 col-xl-6 web padd-right">
                   <img loading="lazy" style="width: 100%;" src="assets/img/institucional/23.png" alt="wallet">
            </div>
            <div class="col-12 col-md-12 col-lg-12 col-xl-6 padd-left">
                    <p class="font-weight-bold text-white h4">Wallet account</p>
                    <p class="text-white">Una cuenta Wallet se crea automáticamente cuando se abre un portafolio dedicado con Axin
                        y se puede usar para hacer depósitos, retiros y transferencias internas hacia sus portafolios 
                        de inversión dedicados en diferentes monedas.
                    </p>
                    <br>
                    <p class="text-white">Puedes hacer una transferencia interna desde</p>
                    <div class="d-flex col-md-10 align-items-center" style="background-color:white!important; border-radius: 15px!important;">
                        <h2 class="px-2" style="color: black!important; font-size: 24!important;">0.01</h2> <p class="pt-2" style="color: black!important;">usd</p>
                    </div>
              
            </div>
            <div class="col-12 col-md-12 col-lg-12 col-xl-6 mob">
                <img loading="lazy" style="width: 100%;" src="assets/img/institucional/23.png" alt="wallet">
            </div>


            <div class="col-12 col-md-12 m-4 p-4"></div>
            <div class="col-12 col-md-12 m-2 p-2 web"></div>

            <div class="col-12 col-md-12 col-lg-12 col-xl-6 padd">
                <p class="font-weight-bold text-white h4">
                   
                    Tu dinero Fiat y Criptomonedas son <br class="web"> 
                    respaldadas
                   
                </p>
                <p class="text-white"> 
                    Las cuentas se pueden depositar en crypto <br class="web"> 
                    y respaldarse en USDT.
                </p>
                <br>
                <ul>
                    <li class="mt-3 text-white">Deposita a wallet en BTC y portafolio en USDT.</li>
                    <li class="mt-3 text-white">Deposita a wallet en LTC y portafolio en USDT.</li>
                    <li class="mt-3 text-white">Deposita a wallet en ETH y portafolio en USDT.</li>
                </ul>
          
            </div>
            <div class="col-12 col-md-12 col-lg-12 col-xl-6">
                   <img loading="lazy" style="width: 260px;;" src="assets/img/institucional/24.png" alt="wallet">
            </div>



            <div class="col-12 col-md-12 m-4 p-4"></div>
            <div class="col-12 col-md-12 m-2 p-2 web"></div>


            <div class="col-12 col-md-12 col-lg-12 col-xl-6 web padd-right">
                   <img loading="lazy" style="width: 100%;" src="assets/img/institucional/25.png" alt="performance">
            </div>
            <div class="col-12 col-md-12 col-lg-12 col-xl-6 padd-left">
                    <p class="font-weight-bold text-white h4">Crea tu portafolio dedicado con varias estrategias</p>
                    <p class="text-white">
                        ¿Por qué beneficiarse de una sola estrategia cuando puedes copiar 3 o 5 estrategias y diversificar el riesgo? 
                    </p>
                    <p class="text-white">
                        Una estrategia podría tener un mal día, mientras que las demás se beneficiarían y compensarían las pérdidas. <br>
                        Es el mismo enfoque de control de riesgos que se aplica en fondos de inversión.
                    </p>
            </div>
            <div class="col-12 col-md-12 col-lg-12 col-xl-6 mob">
                    <img loading="lazy" style="width: 100%;" src="assets/img/institucional/25.png" alt="performance">
            </div>


            <div class="col-12 col-md-12 m-4 p-4"></div>
            <div class="col-12 col-md-12 m-2 p-2 web"></div>

            <div class="col-12 col-md-12 col-lg-12 col-xl-6 padd-right">
                <p class="font-weight-bold text-white h4">
                   Automatiza el nivel de riesgo
                </p>
                <p class="text-white">  
                   Ofrecemos a nuestros clientes un límite de riesgo diario,
                   una herramienta ampliamente utilizada por todos los fondos 
                   de inversión. Si la estrategia de inversión lo alcanza, 
                   la plataforma bloquea todo el <span style="font-style: oblique !important;">trade</span> hasta el día siguiente.
                </p>
                <br>
                <ul>
                    <li class="mt-3 text-white">Menos estrés, más confianza.</li>
                </ul>
          
            </div>
            <div class="col-12 col-md-12 col-lg-12 col-xl-6 padd-left">
                   <img loading="lazy" style="width: 100%;" src="assets/img/institucional/26.png" alt="riesgo">
            </div>
           
        </div>
    </div>
</section>