
<div id="high2" class="py-4 d-flex justify-content-center align-items-center">

    <div class="container">


        <div class="col-12">
            <h1 class="text-white text-center title">Inversionista</h1> <br>
        </div>

        <div class="row col-12 col-md-12 col-lg-12 m-auto px-0">

            <div class="card-container col-12 col-md-6 col-lg-4 d-flex align-items-center justify-content-center">
               <div class="card-content col-12 col-md-12 col-lg-12 row p-2">
                    <div class="col-8 pr-0 mt-4">
                        <img loading="lazy" src="assets/img/hihgFrecuencyTrading/Inversionista.png" alt="inversionista" class="col-6 p-0 mt-4">
                        <br>
                        <p class="paragraph">Con duración mínima de 1 año</p>
                    </div>
                    <div class="col-4 pl-0">
                        <h1 class="percent">26%</h1>
                        <P class="paragraph">Promedio Anual</P>
                    </div>
                </div>
            </div>
            <div class="card-container col-12 col-md-6 col-lg-4 d-flex align-items-center justify-content-center">
               <div class="card-content col-12 col-md-12 col-lg-12 row p-2">
                <div class="col-12 mt-4">
                    <p class="paragraph pl-4 mb-0 pb-0"><strong>Características</strong></p>
                </div>
                <div class="col-6 pr-0">
                    <ul>
                        <li class="paragraph">Retiro de interés</li>
                        <li class="paragraph">Plazo</li>
                        <li class="paragraph">Tipo de inversión</li>
                        <li class="paragraph">Tipo de interés</li>
                        <li class="paragraph">Inversion mínima</li>
                    </ul>
                </div>
                <div class="col-6 pl-0">
                    <ul>
                        <li class="paragraph decoration-none"><strong>Mensual</strong></li>
                        <li class="paragraph decoration-none"><strong>1 año</strong></li>
                        <li class="paragraph decoration-none"><strong>Renta variable</strong></li>
                        <li class="paragraph decoration-none"><strong>Simple</strong></li>
                        <li class="paragraph decoration-none" style="color: #0029FD!important"><strong>$500 USD</strong></li>
                    </ul>
                </div>

                </div>
            </div>
            <div class="card-container col-12 col-md-6 col-lg-4 d-flex align-items-center justify-content-center">
               <div class="card-content col-12 col-md-12 row p-2">
                <div class="col-12">
                    <p class="paragraph"><strong>Este portafolio está diversificado hasta en 25 instrumentos</strong></p>
                </div>
                <div class="col-12">
                    <button (click)="modalCalcularRendimiento(1)" class="btn-custom btn-block  mb-2 mx-auto d-flex justify-content-center align-items-center">Calcular tus rendimientos</button>
                    <button (click)="modalConocerMas()" class="btn-custom-outline btn-block mb-2 mx-auto d-flex justify-content-center align-items-center">Conocer más</button>
                </div>
 

                </div>
            </div>
          


        </div>
    
        <div class="m-3"></div>
    
        <div class="col-12">
            <h1 class="text-white text-center title">Mercado</h1> <br>
        </div>

        <div class="row col-12 col-md-12 col-lg-12 m-auto px-0">

            <div class="card-container col-12 col-md-6 col-lg-4 d-flex align-items-center justify-content-center">
               <div class="card-content col-12 col-md-12 col-lg-12 row p-2">
                    <div class="col-8 pr-0 mt-4">
                        <img loading="lazy" src="assets/img/hihgFrecuencyTrading/Mercado.png" alt="mercado" class="col-6 p-0 mt-4">
                        <br>
                        <p class="paragraph">Con duración mínima de 1 año</p>
                    </div>
                    <div class="col-4 pl-0">
                        <h1 class="percent">33%</h1>
                        <P class="paragraph">Promedio Anual</P>
                    </div>
                </div>
            </div>
            <div class="card-container col-12 col-md-6 col-lg-4 d-flex align-items-center justify-content-center">
               <div class="card-content col-12 col-md-12 col-lg-12 row p-2">
                <div class="col-12 mt-4">
                    <p class="paragraph pl-4 mb-0 pb-0"><strong>Características</strong></p>
                </div>
                <div class="col-6 pr-0">
                    <ul>
                        <li class="paragraph">Retiro de interés</li>
                        <li class="paragraph">Plazo</li>
                        <li class="paragraph">Tipo de inversión</li>
                        <li class="paragraph">Tipo de interés</li>
                        <li class="paragraph">Inversion mínima</li>
                    </ul>
                </div>
                <div class="col-6 pl-0">
                    <ul>
                        <li class="paragraph decoration-none"><strong>Anual</strong></li>
                        <li class="paragraph decoration-none"><strong>1 año</strong></li>
                        <li class="paragraph decoration-none"><strong>Renta variable</strong></li>
                        <li class="paragraph decoration-none"><strong>Compuesto</strong></li>
                        <li class="paragraph decoration-none" style="color: #0029FD!important"><strong>$500 USD</strong></li>
                    </ul>
                </div>

                </div>
            </div>
            <div class="card-container col-12 col-md-6 col-lg-4 d-flex align-items-center justify-content-center">
               <div class="card-content col-12 col-md-12 col-lg-12 row p-2">
                <div class="col-12">
                    <p class="paragraph"><strong>Este portafolio está diversificado hasta en 100 instrumentos</strong></p>
                </div>
                <div class="col-12">
                    <button (click)="modalCalcularRendimiento(2)" class="btn-custom btn-block  mb-2 mx-auto d-flex justify-content-center align-items-center">Calcular tus rendimientos</button>
                    <button (click)="modalConocerMas()" class="btn-custom-outline btn-block  mb-2 mx-auto d-flex justify-content-center align-items-center">Conocer más</button>
                </div>
 

                </div>
            </div>
          


        </div>




      
    </div>

</div>
  
  
  