
<div id="book3" class="d-flex justify-content-center align-items-center">

    <div class="container">


        <div class="row col-12 col-md-12 m-auto px-0">
            
            <div class="col-12 d-flex">
                <a [routerLink]="['/politicas_de_privacidad']">Aviso de Privacidad</a>
            </div>
            <div class="m-4"></div>
            <div class="col-12 col-md-12 ">
               <p class="text-justify paragraph">
                AXIN CAPITAL LLC se compromete a cumplir con las leyes aplicables dondequiera que hagamos negocios. Esto no sólo es vital para nuestro continuo éxito en un mercado global cada vez más regulado, sino que también refleja nuestro compromiso de llevar a cabo negocios de acuerdo con los más altos estándares legales y éticos.
                <br><br>
                Como empresa con sede en San Vicente y las Granadinas y con operaciones en todo el mundo, incluso dentro de la Unión Europea, 'AXIN CAPITAL LLC' está sujeta a las regulaciones de las leyes de los Estados Miembros de la Unión Europea y otros países, que cubren la información personal que procesamos sobre nuestros empleados, clientes, proveedores y otros durante nuestras actividades comerciales.
               </p>
            </div>

           <div class="d-flex align-items-center">
            <img loading="lazy" src="assets/img/logo-white.png" alt="vorofx vorofx" style="width:103px; height:auto;">
            <p class="paragraph mb-0">&copy; Todos los derechos reservados.</p>
           </div>
        </div>

     
      
    </div>

</div>
  