<section id="nofound">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Nuestras disculpas.</h1>
            </div>
            <div class="col-12">
                <h1>No podemos encontrar la página que busca.</h1>
            </div>
            <div class="col-12">
                <br>
                <h2>404 Página no encontrada</h2>
            </div>
            <div class="col-lg-5 col-md-6 col-12">
                <br>
                <a class="btn btn-primary btn-block"[routerLink]="['/home']">IR A NUESTRA PÁGINA DE INICIO</a>
            </div>
        </div>
    </div>
</section> 