
<div id="footer" class="d-flex justify-content-center align-items-center">

    <div class="container">


        <div class="row col-12 col-md-12 m-auto px-0 web">
            
            <div class="col-12 d-flex">
                <a [routerLink]="['/terminos_y_condiciones']" target="_blank" class="mr-3">Términos y Condiciones</a>
                <a [routerLink]="['/politica_aml']" target="_blank" class="mr-3">Política de AML</a>
                <a [routerLink]="['/politica_de_retiro']" target="_blank" class="mr-3">Política de Retiro</a>
                <a [routerLink]="['/politicas_de_privacidad']" target="_blank">Política de Privacidad</a>
            </div> 
            <div class="m-4"></div>
            <div class="col-12 col-md-12 ">
               <p class="text-justify paragraph">
                Axin Capital LLC está constituida como Sociedad de responsabilidad limitada bajo las leyes de San Vicente y las Granadinas, con el número de registro 497 LLC 2020.
                <br><br>
                Regiones restringidas: La información de este sitio web no está dirigida a residentes de ciertas jurisdicciones / países, entre los que se incluyen Estados Unidos de América, Canadá, Reino Unido o en cualquier jurisdicción donde dicha distribución sea contraria a las leyes y regulaciones locales.
                <br><br>
                Advertencia de riesgo: Los Productos financieros ofrecidos por la compañía incluyen Contratos por Diferencia (CFDs) así como otros productos financieros complejos. Operar con CFDs conlleva un alto nivel de riesgo, ya que el apalancamiento puede actuar tanto a su favor como en su contra. Por lo tanto, es posible que los CFDs no sean adecuados para todos los inversores, ya que podría conllevar a la pérdida de todo el capital invertido. Nunca debe de invertir el dinero que no pueda permitirse perder. Antes de operar con los productos financieros complejos que se le ofrecen, por favor, asegúrese de haber entendido todos los riesgos involucrados.
               </p>
            </div>

           <div class="d-flex align-items-center">
            <img loading="lazy" src="assets/img/logo-white.png" alt="vorofx vorofx" style="width:103px; height:auto;">
            <p class="paragraph mb-0">&copy; Todos los derechos reservados.</p>
           </div>
        </div>

        <div class="row col-12 col-md-12 m-auto px-0 mob">

            <div class="col-12 col-md-12 ">
                <p class="text-justify paragraph">
                    Protegido contra fraude:
                </p>
                <ol>
                    <li class="paragraph">Las operaciones están reguladas por la empresa financiera Arum Trade, los cálculos se realizan automáticamente, el inversor siempre tiene acceso e información completa de los cambios en el saldo de sus fondos.</li>
                    <li class="paragraph">Los gestores tienen acceso a los fondos de inversión sólo para operaciones comerciales y no pueden realizar retiros del fondo.</li>
                </ol>
              
                <p class="text-justify paragraph">
                    Axin Capital LLC está constituida como Sociedad de responsabilidad limitada bajo las leyes de San Vicente y las Granadinas, con el número de registro 497 LLC 2020. <br><br>

                    Regiones restringidas: La información de este sitio web no está dirigida a residentes de ciertas jurisdicciones / países, entre los que se incluyen Estados Unidos de América, Canadá, Reino Unido o en cualquier jurisdicción donde dicha distribución sea contraria a las leyes y regulaciones locales. <br><br>
                    
                    Advertencia de riesgo: Los Productos financieros ofrecidos por la compañía incluyen Contratos por Diferencia (CFDs) así como otros productos financieros complejos. Operar con CFDs conlleva un alto nivel de riesgo, ya que el apalancamiento puede actuar tanto a su favor como en su contra. Por lo tanto, es posible que los CFDs no sean adecuados para todos los inversores, ya que podría conllevar a la pérdida de todo el capital invertido. Nunca debe de invertir el dinero que no pueda permitirse perder. Antes de operar con los productos financieros complejos que se le ofrecen, por favor, asegúrese de haber entendido todos los riesgos involucrados.
                </p>
            </div>

           <div class="d-flex-responsive align-items-center web">
            <img loading="lazy" src="assets/img/logo-white.png" alt="vorofx vorofx" style="width:103px; height:auto;">
            <p class="paragraph mb-0">&copy; Todos los derechos reservados.</p>
           </div>
        </div>
      
    </div>

</div>
  
  
  