<div class="section header">
    <div class="logo">
        <img src="assets/img/logo-white.png" alt="vorofx vorofx" class="ajust">
    </div>
    <div class="content">
        <div class="tittle">
            <h1>Invierte</h1>
            <h1>tus cryptos</h1>
        </div>

        <div class="slogan">
            <p>Diversifica tus inversiones y protégete de la volatilidad</p>
        </div>
        <div class="btn_invertir">
            <a class="wave" (click)="scrollTo('form')"> Quiero Invertir</a>
        </div>
    </div>
    <div class="content crypto web">
        <div class="img"> 
            <img src="assets/img/invierte/header-cryptos.png" alt="" class="ajust">
        </div>
    </div>
    <div class="flecha mob"> 
        <a class="btn_explorar mob wave" (click)="scrollTo('one')">
            <svg width="30" height="13" viewBox="0 0 30 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1L14.2364 11L29 1" stroke="white" stroke-width="2" stroke-linecap="round" />
            </svg>

        </a>
    </div>
</div>