<section id="institucional5" class="py-5 px-3 p-md-5 d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12 col-xl-12 mb-4">
                <h1 class="h3 text-left text-lg-center font-weight-bold">Preguntas frecuentes</h1> <br>
                <h2 class="h4 text-left text-lg-center">
                   ¿Tienes una pregunta? Una fuente de información útil sobre nuestros productos y servicios.
                </h2>
              
            </div>
          
            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0 exept">
                                <button class="p-0 " data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    ¿Qué es el portafolio dedicado? <span class="plus">+</span>
                                </button>
                         
                            </h5>
                           
                        </div>
                    
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body pl-4">
                                Es un producto institucional, que permite ajustar flujos de operación entre Axin y la empresa, para el máximo aprovechamiento del capital, en una estrategia personalizada.  
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0 exept">
                                
                            <button class="p-0 collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                ¿Para quién es el portafolio dedicado? <span class="plus">+</span>
                            </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body pl-4">
                                Está pensado para personas morales que requieren un ajuste de flujos de capital y ROI en productos que sublicencian o para caja operativa de flujo (cash Flow).
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0 exept">
                                
                            <button class="p-0 collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                ¿Qué diferencias tiene de la estrategia de renta variable? <span class="plus">+</span>
                            </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body pl-4">
                                Es una estrategia de trading de alta frecuencia que nos permite ajustar niveles de rendimientos por el capital que esta operativa requiere para funcionar.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingfour">
                            <h5 class="mb-0 exept">
                                
                            <button class="p-0 collapsed" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                                ¿Cómo saber si el portafolio dedicado es para mí? <span class="plus">+</span>
                            </button>
                            </h5>
                        </div>
                        <div id="collapsefour" class="collapse" aria-labelledby="headingfour" data-parent="#accordion">
                            <div class="card-body pl-4">
                                Si eres una persona moral, que requiere utilizar capital propio o de terceros para desarrollos corporativos, sustentables, retornos de inversión, cajas operativas, tesorerías, entonces esta estrategia es para ti.
                            </div>
                        </div>
                    </div>
            
                </div>
            </div>
           
          
            
           
        </div>
    </div>
</section>