@font-face {
    font-family: 'Roboto';
    src: url('../../../assets/fuentes/Roboto-Regular.ttf');
}
/* @font-face {
    font-family: 'Roboto';
    src: url('../../../assets/fuentes/Roboto-Black.ttf');
} */

#aml {
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 10vw;
    padding-bottom: 10vw;
    
}

.negrita {
    font-family: 'Roboto'!important;
    color: #000;
    text-align: left;
    font-weight: 600;
}



#aml p {
    font-family: 'Roboto';
    color: #000;
    text-align: justify;
}
#aml ul li {
    font-family: 'Roboto';
    color: #000;
    text-align: justify;
}

@media only screen and (max-width: 768px) { 

    #aml {
        padding-top: 30vw!important;
        padding-bottom: 12vw;
    }

} 