<Section id="aml">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <p class="negrita">POLÍTICA AML</p>

                <p>Axin Capital LLC está comprometida con los más altos estándares de cumplimiento contra el Lavado de
                    Dinero (AML) y la financiación del terrorismo, por lo que requiere que la dirección y los empleados sigan las
                    normas mencionadas.</p>
                <p>El lavado de dinero es el proceso de conversión de los fondos recibidos de las actividades ilegales (como el
                    fraude, la corrupción, el terrorismo, etc.) en otros fondos o inversiones que parecen legítimos para ocultar o
                    distorsionar la verdadera fuente de los fondos.</p>
                <p>El proceso de lavado de dinero se puede dividir en tres etapas secuenciales:</p>
            
                <ul>
                    <li>Colocación. En esta etapa, los fondos se convierten en instrumentos financieros, tales como cheques, cuentas bancarias y transferencias de dinero, o se pueden utilizar para comprar bienes de alto valor que pueden ser revendidos, como oro o joyas. También pueden ser depositados físicamente en los bancos e instituciones no bancarias (por ejemplo, intercambiadores de moneda). Para evitar sospechas por la empresa, el blanqueador puede también hacer varios depósitos en lugar de depositar la suma total a la vez. A esta forma de colocación se llama smurfing.</li>
                    <li>Capas. Los fondos son transferidos o trasladados a otras cuentas y otros instrumentos financieros.
                        La operación se realiza para ocultar el origen y perturbar el seguimiento de la entidad que hizo esas
                        múltiples transacciones financieras. Mover los fondos y cambiar su forma hace que sea complicado
                        rastrear el dinero que se está lavando.</li>
                    <li>Integración. Los fondos vuelven al mercado como dinero legítimo para adquirir bienes y servicios.</li>
                
                </ul>
                <p class="negrita">Política AML</p>
             
                <p>Axin Capital LLC, como la mayoría de las empresas que prestan servicios en el mercado financiero, se
                    adhiere a los principios de la lucha contra el lavado de dinero y evita activamente las acciones que tienen
                    por objeto o facilitar el proceso de legalización de fondos obtenidos ilegalmente. La política de la AML es
                    impedir el uso de los servicios de la empresa por parte de delincuentes, con el objetivo de lavado de dinero,
                    financiamiento del terrorismo y otras actividades criminales.</p>
                <p>Para ello, se aplica una política estricta en la detección, prevención y alerta de los órganos correspondientes
                    de cualquier actividad sospechosa que aparezca en la empresa. Por otra parte, Axin Capital LLC no tiene por
                    qué informar a sus clientes que los órganos de seguridad están informados sobre su actividad. También se
                    dispone de un complejo sistema electrónico para la identificación de clientes de la empresa y la realización
                    de una historia detallada de todas las operaciones de estos.</p>

                <p>Para prevenir el lavado de dinero, Axin Capital LLC no acepta ni paga en efectivo en ninguna circunstancia.
                    La empresa se reserva el derecho de suspender el funcionamiento de cualquier cliente, que puede ser
                    considerado ilegal o, puede estar relacionado con el lavado de dinero en la opinión exclusiva de la empresa.</p>
                <p class="negrita">Procedimientos de la compañía</p>
                <p>Axin Capital LLC se asegurará siempre de que está tratando con una persona real o jurídica. Axin Capital LLC
                    también lleva a cabo todas las medidas necesarias de conformidad con las leyes y regulaciones aplicables
                    emitidas por las autoridades monetarias. La política de la AML se está cumpliendo en Axin Capital LLC por
                    medio de lo siguiente:</p>
                <ul>
                    <li>Know Your Customer and Due Diligence;</li>
                    <li>Seguimiento de la actividad del cliente;</li>
                    <li>Mantenimiento de registros.</li>
                </ul>

                <p class="negrita">Know Your Customer and Due Diligence</p>
                <p>Debido al compromiso de la empresa con las políticas KYC y AML, cada cliente de la empresa tiene que
                    realizar un procedimiento de verificación. Cuando Axin Capital LLC inicia algún tipo de relación con el cliente,
                    la empresa se asegura de obtener la evidencia satisfactoria de la identidad del cliente, o bien se toman otras
                    medidas que produzcan evidencia satisfactoria de la identidad del cliente o contraparte. La compañía
                    también aplica un escrutinio más riguroso a los clientes residentes de otros países, identificados por fuentes
                    fidedignas en países que tienen estándares ALD inadecuados o que puedan representar un alto riesgo para
                    la delincuencia y la corrupción y en favor de beneficiarios que residen y cuyos fondos sean de origen de los
                    países mencionados.</p>
                <p class="negrita">Clientes individuales</p>
                <p>Durante el proceso de registro, cada cliente proporciona información personal, específicamente: nombre
                    completo, fecha de nacimiento, país de residencia, dirección completa, incluyendo número de teléfono y
                    código postal. Para cumplir los requisitos de la Compañía para KYC y la verificación de identidad y para
                    confirmar la información indicada. Los clientes que sean personas naturales deberían aportar la siguiente
                    información bajo petición de la Compañía:</p>
                <ul>
                    <li>Una copia de alta resolución del documento de identificación otorgada por el gobierno, que debería
                        contener: nombre completo, fecha de nacimiento, foto y nacionalidad, y también, cuando
                        corresponda: confirmación de la validez del documento (fecha de expedición y/o expiración), firma
                        del titular. Este documento de identificación podrá ser un pasaporte, un documento nacional de
                        identidad, el carné de conducir o un documento similar. Los documentos indicados deben ser
                        válidos al menos durante 6 meses a partir de la fecha de presentación. La Compañía se reserva el
                        derecho a solicitar copias certificadas de los documentos señalados y dicha certificación debe ser
                        válida por al menos 6 meses desde la fecha de registro. La Compañía se reserva el derecho de
                        solicitar una segunda modalidad de documento de identificación.</li>
                    <li>Una copia de alta resolución de una factura del pago de servicios públicos (agua, electricidad u
                        otros) o un extracto bancario que contenga el nombre completo del cliente y el lugar actual de
                        residencia. Estos documentos no deberán tener más de 3 meses de antigüedad desde la fecha de
                        registro.</li>
                </ul>
                <p>Al aceptar nuevos Clientes durante el proceso y los documentos de verificación, la Compañía se reserva el
                    derecho de aplicar otros requisitos y procedimientos para la identificación del Cliente. Tales procedimientos
                    deben determinarse a discreción exclusiva de la Compañía y están sujetos a variaciones dependiendo del
                    país de residencia del Cliente y pueden incluir, pero no limitarse a:</p>
                <ul>
                    <li>El requisito de verificar la tarjeta bancaria utilizada para depositar/retirar fondos;</li>
                    <li>El requisito de proporcionar una fuente de fondos, una fuente de riqueza y prueba de los fondos
                        que se depositan de una manera y forma que la Compañía considera apropiada.</li>
                </ul>
                <p class="negrita">Clientes corporativos</p>
                <p>Si la entidad cotiza de un mercado regulado existen evidencias de que la entidad es una subsidiaria de estas
                    entidades no es necesario ningún procedimiento adicional. En caso contrario, o si ninguno de sus directores
                    o accionistas tiene cuenta en Axin Capital LLC es necesario proporcionar los siguientes documentos según la
                    KYC:</p>
                <ul>
                    <li>Una copia de alta resolución del certificado de incorporación/certificado de registro;</li>
                    <li>Copia del Registro Mercantil o similar donde se muestren los acuerdos y actos de la sociedad;</li>
                    <li>Documentos KYC de todos los directivos, directores y beneficiarios efectivos de la entidad
                        corporativa.</li>
                    <li>Copia de alta resolución del acta fundacional y artículos de la sociedad o documentaos equivalentes
                        debidamente registrados;</li>
                    <li>Prueba de la dirección registrada de la entidad y la lista de directivos y accionistas;</li>
                    <li>Descripción y objetivo de la entidad (incluyendo fecha de fundación, productos o servicios y
                        ubicación de sus principales negocios).</li>
                </ul>
                <p>
                    Con estos procedimientos verificamos la identidad del cliente y también ayudan a Axin Capital LLC a conocer
                    ejor las necesidades de sus clientes a la hora de ofrecerle los mejores servicios en operativa online.
                </p>
                <p class="negrita">Control de la actividad de sus clientes</p>
                <P>Además de recoger información de sus clientes, Axin Capital LLC controla la actividad de sus clientes para
                    evitar operaciones sospechosas. Una operación sospechosa es aquella que no sigue el patrón de
                    operaciones habitual del cliente o con las actividades habituales del mismo. Axin Capital LLC ha incorporado
                    un sistema de control de transacciones (automático y manual) para prevenir que redes criminales puedan
                    usar sus servicios.</P>
                <p class="negrita">Requisitos de depósitos y reembolsos</p>
                <P>Todas las operaciones de retirada y depósitos de fondos tienen las siguientes necesidades:</P>
                <ul>
                    <li>En las transferencias bancarias o mediante tarjeta el nombre del registro debe ser el mismo que el
                        titular de la cuenta o tarjeta.</li>
                    <li>Retirar fondos de la cuenta comercial a través del método, que es diferente del método de
                        deposición, es posible únicamente después de retirar la suma, que es igual a la suma de los
                        depósitos de los clientes a través del método y en la misma cuenta utilizada para depositar.</li>
                    <li>Si la cuenta se acreditara de forma que no pudiera ser utilizada para el retiro de fondos, los fondos
                        pueden ser retirados a una cuenta bancaria del cliente o pueden utilizarse de cualquier otra forma,
                        según lo acordado con la empresa con la ayuda de ello con lo que la empresa pueda comprobar la
                        identidad del propietario de la cuenta.</li>
                    <li>Si la cuenta ha sido acreditada con fondos a través de distintos sistemas de pago, el retiro de
                        fondos se efectuará proporcionalmente de acuerdo con el tamaño de cada depósito.</li>
                    <li>En caso de depositar mediante Visa/MasterCard, Transferencias Bancarias, el retiro de fondos, que
                        exceda la suma de los depósitos del cliente, es posible por medio de cualquiera de los métodos
                        siguientes: Visa/MasterCard, Transferencias Bancarias. En caso de depositar mediante otro
                        método, el retiro de fondos que exceda la suma de los depósitos del cliente es posible mediante
                        cualquier método disponible, el que el cliente elija.</li>
                </ul>
            </div>
        </div>
    </div>
</Section>
