<section class="px-sm-5 py-5">
  <div class="container gap-4 d-flex justify-content-center flex-wrap">
    <div class="img-father col-lg-6 col-sm-12 d-md-flex justify-content-center align-items-center pr-lg-5 pl-sm-0">
      <div class="image-container">
        <img src="assets/img/aboutUs/laptop.png" alt="laptop" class="ajust">
      </div>
    </div>
    <div
      class="col-lg-6 col-md-12 d-flex justify-content-center align-items-lg-start align-items-md-center align-items-center flex-column right  pl-lg-3 pr-sm-0">
      <h1>¿Por qué elegir Axin?</h1>
      <div class="list d-flex flex-column justify-content-center align-items-start flex-wrap">
        <!-- ITEM 1 -->
        <div class="item d-flex justify-content-start align-items-center">
          <div class="point d-flex justify-content-center align-items-center">
            <div class="img d-flex justify-content-center align-items-center">
              <img src="assets/img/aboutUs/point_1.png" alt="" class="ajust icono">
            </div>
          </div>
          <p class="text">
            Ofrecemos productos de inversión en renta fija y renta variable y/o **DeFi**.
          </p>
        </div>
        <!-- ITEM 2 -->
        <div class="item d-flex justify-content-start align-items-center">
          <div class="point d-flex justify-content-center align-items-center">
            <div class="img d-flex justify-content-center align-items-center">
              <img src="assets/img/aboutUs/point_2.png" alt="" class="ajust icono">
            </div>
          </div>
          <p class="text">
            Planes de inversión independientes dentro de tu misma wallet.
          </p>
        </div>
        <!-- ITEM 3 -->
        <div class="item d-flex justify-content-start align-items-center">
          <div class="point d-flex justify-content-center align-items-center">
            <div class="img d-flex justify-content-center align-items-center">
              <img src="assets/img/aboutUs/point_3.png" alt="" class="ajust icono">
            </div>
          </div>
          <p class="text">
            Procesamiento de dinero FIAT y criptomonedas.
          </p>
        </div>
        <!-- ITEM 4 -->
        <div class="item d-flex justify-content-start align-items-center">
          <div class="point d-flex justify-content-center align-items-center">
            <div class="img d-flex justify-content-center align-items-center">
              <img src="assets/img/aboutUs/point_4.png" alt="" class="ajust icono">
            </div>
          </div>
          <p class="text">
            Retiro de rendimientos mensuales.
          </p>
        </div>
        <!-- ITEM 5 -->
        <div class="item d-flex justify-content-start align-items-center">
          <div class="point d-flex justify-content-center align-items-center">
            <div class="img d-flex justify-content-center align-items-center">
              <img src="assets/img/aboutUs/point_5.png" alt="" class="ajust icono">
            </div>
          </div>
          <p class="text">
            El dinero del cliente se encuentra en cuentas segregadas.
          </p>
        </div>
        <!-- ITEM 6 -->
        <div class="item d-flex justify-content-start align-items-center">
          <div class="point d-flex justify-content-center align-items-center">
            <div class="img d-flex justify-content-center align-items-center">
              <img src="assets/img/aboutUs/point_6.png" alt="" class="ajust icono">
            </div>
          </div>
          <p class="text">
            El sistema de IA permite baja o nula exposición al mercado.
          </p>
        </div>
        <!-- ITEM 7 -->
        <div class="item d-flex justify-content-start align-items-center">
          <div class="point d-flex justify-content-center align-items-center">
            <div class="img d-flex justify-content-center align-items-center">
              <img src="assets/img/aboutUs/point_7.png" alt="" class="ajust icono">
            </div>
          </div>
          <p class="text">
            Control de riesgo mediante tecnología de alta frecuencia.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
