<section class="py-5 pl-3 pr-3 pl-md-3 pr-md-5 d-flex justify-content-center align-items-center">
  <div class="container pl-md-0 d-flex flex-lg-row flex-column">
    <div class="col-12 col-lg-6 text-content d-flex flex-column justify-content-center">
      <h1>¿Quiénes somos?</h1>
      <div style="max-width: 675px;">
        <p>
          Somos un investment advisor regulado por la Financial Services Commission (FSC) de Mauricio con la licencia N° GB 222002207 que nos permite administrar, gestionar y dar asesoría en activos financieros y no financieros, regulados y no regulados, mediante tecnología de IA y high frequency en el sector financiero y digital. 
        </p>
        <br>
        <p>
          Con base en nuestra tecnología desarrollamos productos enfocados para cada perfil de inversionista, pues entendemos a nuestros clientes más allá de cómo lo hacen las instituciones tradicionales.
        </p>
      </div>
    </div>

    <div class="col-12 col-lg-6 d-flex justify-content-center align-items-center ml-lg-5">
      <div class="img">
        <img src="assets/img/aboutUs/cripto.png" alt="Criptomonedas">
      </div>
    </div>
  </div>

</section>
