a,
button {
  font-size: calc(11px + 0.3rem) !important;
  text-decoration: none;
  color: black;
  background: transparent;
  border: none;
  margin-left: 10px;
  margin-right: 10px;
}

.fa-chevron-down {
  font-size: calc(11px + 0.1rem) !important;
  margin-top: 6px;
}

#icon-menu-vorofx-two {
  display: none;
}

#icon-close-vorofx-two {
  display: none;
}

#vorofx-two #navtwo {
  padding-left: calc(1em + 3vw) !important;
  padding-right: calc(1em + 3vw) !important;
  z-index: 100;
  background-color: #E7E6E6;

}

#vorofx-two nav .logo {
  width: calc(140px - 3rem);
}

#vorofx-two nav #navbarTogglerAxinTwo {
  height: 100% !important;
  margin-left: 7rem;
}

#vorofx-two #menu-web button {
  margin-top: 7px;
}

#menu-web .dropdown-menu {
  width: max-content !important;
  border-radius: 20px !important;
  position: absolute;
  right: -81px;
  top: 62px;
  margin-top: 0px !important;
  background-color: rgb(245, 245, 245);
  border: none;
}

#menu-web .dropdown-item {
  text-decoration: none !important;
  color: black;
  margin-left: 0px !important;
}


#menu-web .dropdown-item img {
  width: 40px;
}

.rombo {
  position: absolute;
  right: 77px;
  top: -15px;
  width: 0;
  height: 0;
  border-right: 20px solid transparent;
  border-top: 0px solid transparent;
  border-left: 20px solid transparent;
  border-bottom: 20px solid rgb(245, 245, 245);
}


#menu-mob .dropdown-item img {
  width: 40px;
}

#btn {
  background: black;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  color: white !important;
}

#btn:hover {
  transform: translate(0, -3px) !important;
  -webkit-transform: translate(0, -3px) !important;
  -o-transform: translate(0, -3px) !important;
  -moz-transform: translate(0, -3px) !important;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5) !important;
}

.logo:hover {
  animation: rotate 0.1s;
  -webkit-animation-name: rotate;
  animation-name: rotate;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-fill-mode: none;
  animation-fill-mode: none;
  -webkit-animation-play-state: running;
  animation-play-state: running;
  -webkit-animation: rotate 0.1s;
}


@-webkit-keyframes rotate {

  0%,
  100% {
    transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    -o-transform: rotate(3deg);
  }

  50% {
    transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
  }
}

@keyframes rotate {

  0%,
  100% {
    transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    -o-transform: rotate(3deg);
  }

  50% {
    transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
  }
}

#vorofx-two #navbarTogglerAxinTwo li a,
#vorofx-two #navbarTogglerAxinTwo #dropdownMenuLink,
#vorofx-two #navbarTogglerAxinTwo #btnDrop {
  font-weight: 600;
}


@media(max-width: 991px) {

  #icon-menu-vorofx-two {
    display: none;
  }

  #icon-close-vorofx-two {
    display: none;
  }

  #vorofx-two #navtwo {
    padding-left: 0 !important;
    padding-right: 0 !important;

  }

  #vorofx-two nav #navbarTogglerAxinTwo {
    height: 100vh !important;
    max-height: 100% !important;
    margin-left: 0 !important;
    padding: 20px 9px 60px;
    overflow: scroll !important;
    flex-direction: column;
    background-color: #fff;
  }

  #btn {
    width: 200px !important;
    margin: auto;
  }

  .web {
    display: none;
  }

  .mob {
    display: block;
  }


  /* NUEVOS CAMBIOS */

  #vorofx-two #navbarTogglerAxinTwo {
    display: none;
  }

  #vorofx-two #nav #navbarTogglerAxinTwo #ul_items {
    gap: 3px;
  }

  #navbarTogglerAxinTwo #translate-item {
    display: none !important;
  }

  #navbarTogglerAxinTwo #btn_session {
    gap: 10px;
  }

  #vorofx-two #navtwo #navbarTogglerAxinTwo.show {
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  #vorofx-two #navtwo #navbarTogglerAxinTwo.show #ul_items {
    margin: 0 !important;
    width: 100%;
  }

  #vorofx-two #navtwo #navbarTogglerAxinTwo.show #btn_session {
    align-self: center;
    margin-bottom: 90px;
  }
}





/*  TRADUCTOR */


.lang_content {
  display: inline-block;
  position: relative;
  margin: 0 10px;
  padding: 8px 0;
  --padding: 0px;
  padding-bottom: 0px;
}


.lang_content .lang_change {
  background: none;
  border: none;
  padding: var(--padding);
  cursor: pointer;
  text-transform: uppercase;
  margin: 0;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40px;
}

.lang_content .lang_change span {
  font-size: calc(11px + .3rem) !important;
  text-transform: uppercase;
}

.lang_content .lang_change svg {
  font-size: calc(11px + .3rem) !important;
  margin: 0 !important;
}

.lang_content .options_lang {
  position: absolute;
  top: 100%;
  display: flex;
  flex-direction: column;
  padding: var(--padding);
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 3px 4px 5px rgba(0, 8, 49, 0.15);
}

.lang_content .options_lang.hidden {
  display: none;
}

.lang_content .options_lang .option {
  display: flex;
  justify-content: start;
  flex-direction: row-reverse;
  cursor: pointer;
  align-items: center;
}

.lang_content .options_lang .option label{
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  gap: 10px;
  justify-content: space-between;
}

.lang_content .options_lang .option:first-child label{
  border-radius: 5px 5px 0 0;
}

.lang_content .options_lang .option:last-child label{
  border-radius: 0 0 5px 5px;
}

.lang_content .options_lang .option:hover label{
  background-color: #f0f0f0;
}

.lang_content .options_lang input {
  display: none;
}

.lang_content .options_lang .option label {
  width: 100%;
  cursor: pointer;
  padding: 10px 40px 10px 10px;
  color: #000 !important;
  margin: 0;
}

.lang_content.white,
.lang_content.white input .lang_content.white button:focus {
  color: #fff !important;
}
