<section id="inicio" class="py-5 px-3 p-md-5 d-flex justify-content-center align-items-center">

  <div class="container">

    <video id="my_video_1" class="video-js vjs-default-skin"  preload="none" muted
      data-setup='{"aspectRatio":"640:267", "playbackRates": [1, 1.5, 2]}' playsinline allow="autoplay">
      <source src="assets/video/vorofx720.mp4" type="video/mp4">
    </video>

    <div class="row" id="video_background" style="margin: 0 !important;">
      <div class="covervid-wrapper">
        <video class="covervid-video" id="video_background"
        autoplay="autoplay" loop="loop" preload="auto" muted="muted"
        onloadedmetadata="this.muted=true" playsinline>
          <source src="assets/video/vorofx720.mp4" type="video/mp4"/>
        </video>
      </div>

    </div>

    <div class="row">
      <div class="col-12 col-md-12 col-lg-12 col-xl-12"> 
        <h1 class="h1 text-md-center text-sm-left text-white font-weight-bold">
          Somos la plataforma de<br class="web">
          inversión de los innovadores
        </h1>
        <br><br>
  
        <br><br>
      </div>
      <form #startForm=ngForm (ngSubmit)="onSubmit()" class="p-0 col-xl-12 col-lg-12 col-md-12 col-12 d-flex justify-content-center">
        <div class="form-row col-xl-12 col-lg-12 col-md-12 col-12 d-flex justify-content-center">
            <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                <label for="correo" hidden>Correo</label>
                <input type="email" value="" name="correo" class="form-control col-12" placeholder="Correo electrónico"  [(ngModel)]="form.email" required>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-6 col-12">
                <button type="submit" class="btn btn-primary col-12 text-nowrap mt-1 mt-md-0">Quiero empezar</button>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                <br>
                <p class="p text-left text-lg-center text-white">Al enviar el correo electrónico, aceptas nuestros <a [routerLink]="['/terminos_y_condiciones']" class="text-yellow">Términos y Condiciones.</a></p>
            </div>
        </div>
    </form>

    </div>
  </div>

</section> 