<section id="confirmacion" class="py-5 px-4 p-md-5 d-flex justify-content-between flex-column">
   
    <div class="container">
        <div class="row">
            <div class="col-12 mb-4">
                <a [routerLink]="['/home']"><img loading="lazy" id="logoLogin" src="assets/img/logo-black.png" alt="vorofx vorofx"></a>
            </div>
            <div class="col-12" style="height: 58px">
                <!-- <h1 class="h4 text-center">Bienvenido a <strong>Axin  Capital</strong></h1> <br> -->
            </div>
            <div class="bg-white col-12 col-md-8 col-lg-6 col-xl-5 m-auto px-0 mx-0 rounded-circle">
                <div [routerLink]="['/inicio_de_sesion']" class="col-md-12 col-lg-12 p-3 mx-0 headform">
                    <p class="h7 text-white text-center my-0"><i class="fas fa-chevron-left"></i> Regresar</p>
                </div>
                <div class="form-row col-md-12 col-lg-10 m-auto bg-white p-4">
                    <div class="my-4 mx-auto">
                        <h1 class="h4 text-center">Recuperación de <br> contraseña</h1>
                        <p class="text-center p-0 m-0" style="color: #9e9fa1 !important;">
                            Te hemos enviado un correo electrónico con un enlace para resblecer tu contraseña. <br>
                            Para cambiar tu contraseña haz click en el botón "Restablecer contraseña".
                        </p>
                    </div>
                    
    
                    <div class="mb-3 mx-auto p-2 rounded-circle col-12" style="border: 1px solid #94acf3;">
                        <small><p class="text-center m-0 p-0" style="color: #7494f4!important;"><span  style="border: 3px solid #94acf3; border-radius:18px; padding:2px;">&nbsp;&nbsp;<strong>!</strong>&nbsp;&nbsp;</span> Ten encuenta que el enlace caducara en 48 hrs.</p></small>
                    </div>
                    <div class="mx-auto">
                        <p class="text-center mb-3"><strong>¡Gracias por unirte a Axin!</strong> </p>
                    </div>
                </div>
          
            </div>
            <!-- <div class="col-12 mt-4 mx-auto">
                <p class="text-center" style="color: #7494f4 !important;">
                   <small>
                        Contáctenos: <strong><a href="mailto:hola@axincapital.com">hola@axincapital.com</a></strong> <br>
                        Si tiene algún problema <br>
                   </small>
                </p>
            </div> -->
        </div>
        
    </div>

    <div class="contact_us">
        <p class="text-center" style="color: #96a5c6 !important;">
          <small>
            Contáctanos: <strong><a href="mailto:hola@axincapital.com">hola@axincapital.com</a></strong> <br>
            Si tienes algún problema <br>
          </small>
        </p>
      </div>
</section>
