<Section id="privacidad">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <p class="negrita">AVISO DE PRIVACIDAD</p>

                <p>AXIN CAPITAL LLC se compromete a cumplir con las leyes aplicables dondequiera que hagamos
                    negocios. Esto no sólo es vital para nuestro continuo éxito en un mercado global cada vez más
                    regulado, sino que también refleja nuestro compromiso de llevar a cabo negocios de acuerdo con
                    los más altos estándares legales y éticos.</p>
                <p>Como empresa con sede en San Vicente y las Granadinas y con operaciones en todo el mundo,
                    incluso dentro de la Unión Europea, &#39;AXIN CAPITAL LLC&#39; está sujeta a las regulaciones de las leyes
                    de los Estados Miembros de la Unión Europea y otros países, que cubren la información personal
                    que procesamos sobre nuestros empleados, clientes, proveedores y otros durante nuestras
                    actividades comerciales.</p>
                <p>Esta Política de Privacidad, preparada por el Departamento Jurídico y nuestra Oficina de
                    Protección de Datos, tiene como objetivo ayudarle a entender estas regulaciones. Nuestros
                    Responsables de Protección de Datos y su personal están disponibles para responder a cualquier
                    pregunta que pueda tener. Aunque los requisitos técnicos específicos de la ley están más allá del
                    alcance de esta política, estos requisitos establecen normas de conducta uniformes para los
                    empleados de &#39;AXIN CAPITAL LLC&#39; que manejan información cubierta por estas regulaciones.</p>
                <p>El pleno cumplimiento es un requisito de &#39;AXIN CAPITAL LLC&#39; para ayudar a asegurar la adhesión a
                    las leyes de privacidad y seguridad de datos aplicables.</p>
                <p>Gracias por su atención.</p>

                <p class="negrita">DERECHO A LA PRIVACIDAD</p>

                <p>1. Respetamos el derecho de cada individuo a la privacidad, valoramos nuestra relación con usted,
                    y nos enorgullecemos de mantener la lealtad y el respeto con cada cliente individual
                    proporcionándole privacidad y seguridad.</p>
                <p>2. Las disposiciones de esta Política se aplican a los clientes anteriores, así como a nuestros
                    clientes actuales, y contienen la manera en que recopilamos y mantenemos información no
                    pública sobre nuestros clientes (como su total, la información que recopilamos de usted sólo se
                    utiliza según sea apropiado para proporcionarle un servicio de calidad y seguridad. Por ejemplo,
                    podemos utilizar la información que obtenemos de usted para verificar su identidad. También
                    podemos utilizar esta información para establecer y configurar su cuenta, emitir un número de
                    cuenta, emitir códigos de acceso (nombre de usuario y/o contraseña), registrar su actividad y
                    ponernos en contacto con usted de vez en cuando. La información que nos proporciona nos ayuda
                    a mejorar nuestros servicios para usted, personalizar su experiencia de navegación e informarle
                    sobre productos, servicios o promociones adicionales que pueden ser de su interés. Si alguna vez
                    desactiva su Cuenta con nosotros, mantendremos su información en el archivo, pero sólo la
                    usaremos para cumplir con los requisitos reglamentarios y para contactarlo ocasionalmente con la
                    opción de reactivar su cuenta. Tenga en cuenta que puede optar por no participar en nuestras
                    políticas de intercambio de información en cualquier momento notificándonos su deseo de
                    hacerlo como se explica a continuación.</p>

                <p class="negrita">INFORMACIÓN QUE AXIN RECABA</p>

                <p>1. Recogemos información de usted cuando usted: <br><br>
                    a. Abre una cuenta y nos proporciona información a través de formularios de registro electrónico; <br><br>
                    b. Realiza una transacción con nosotros, incluso cuando deposita y retira fondos; <br><br>
                    2. Al proporcionarnos Información, usted nos está dando su consentimiento para recopilar, usar y
                    almacenar la Información de la manera que se explica a continuación.</p>
                
                <p class="negrita">INFORMACIÓN PERSONAL</p>

                <p>
                    1. Cuando solicita o mantiene una cuenta con nosotros, recopilamos información personal sobre
                        usted con fines comerciales, como la evaluación de sus necesidades financieras, el procesamiento
                        de sus solicitudes y transacciones, la información sobre productos y servicios que pueden ser de su
                        interés y la prestación de servicios al cliente. Dicha información puede incluir: <br><br>
                        a. Información de la solicitud: Información que usted nos proporciona en las solicitudes y otros
                        formularios, como su nombre, dirección, fecha de nacimiento, número de seguro social,
                        ocupación, activos e ingresos, así como la información necesaria para comunicarnos con usted,
                        como su dirección, número de teléfono y/o correo electrónico;<br><br>
                        b. Información de la transacción: Información sobre sus transacciones con nosotros, así como
                        información sobre nuestras comunicaciones con usted (los ejemplos incluyen los saldos de sus
                        cuentas, la actividad comercial, sus consultas y/o nuestras respuestas);<br><br>
                        c. Información de Verificación: Información necesaria para verificar su identidad como un
                        pasaporte o licencia de conducir (los ejemplos también incluyen información de antecedentes que
                        recibimos sobre usted de registros públicos o de otras entidades no afiliadas a nosotros); además,
                        podemos recopilar otra información identificable como números de identificación y/o números de
                        registro de pasaporte/impuestos; también podemos recopilar información demográfica cuando
                        abre una cuenta, incluyendo su sexo, fecha de nacimiento, etc...; también podemos necesitar
                        evaluar su experiencia comercial, ingreso promedio anual, patrimonio neto estimado y hacer una
                        evaluación sobre su factor de riesgo.<br><br>

                        2. Usted nos proporciona directamente la mayor parte de la información que recopilamos. Esto lo
                        hace llenando el/los formulario(s) electrónico(s) (incluyendo, sin limitación, el/los Formulario(s) de
                        Solicitud de Apertura de Cuenta) que publicamos en nuestro Servicio de Operaciones en Línea y
                        proporcionándonos voluntariamente otros documentos requeridos.<br><br>

                        3. Además, usted nos proporciona información al comerciar en nuestros sistemas, al contactarnos
                        o al responder a una promoción; la información que recopilamos indirectamente puede incluir el
                        registro de su dirección de protocolo de Internet (IP), la configuración del software, el sistema
                        operativo y el uso de cookies.</p>

                <p class="negrita">COOKIES</p>

                <p>1. Las cookies son pequeños archivos que contienen información que un sitio web utiliza para
                    rastrear a sus visitantes, que pueden ser enviados de nosotros a su computadora y a veces de
                    vuelta. En última instancia, las cookies nos ayudan a mejorar su navegación y la facilidad de uso de
                    nuestro Servicio de Comercio en Línea. Podemos establecer y acceder a las Cookies en su
                    ordenador, permitiéndonos conocer qué anuncios y promociones atraen a los usuarios a nuestra
                    Facilidad de Comercio en Línea.br <br><br>
                    2. Además, podemos utilizar cookies en relación con nuestros productos y servicios para rastrear
                    sus actividades en nuestro(s) sitio(s) web. <br><br>
                    3. Las cookies no contienen ninguna información de identificación personal. Dicha información,
                    que podemos recopilar y compartir, es anónima y no se puede identificar personalmente.</p>

                <p class="negrita">¿CÓMO PROTEGE AXIN LOS DATOS PERSONALES?</p>

                <p>1. Protegemos su información mediante el uso de tecnología de seguridad de datos y el empleo de
                    herramientas como cortafuegos y codificación de datos. Utilizamos la tecnología de encriptación
                    &quot;Secure Socket Layer (SSL)&quot; para proteger cierta información que usted nos envía. Este tipo de
                    tecnología le protege de que su información sea interceptada por alguien que no sea nosotros,
                    mientras se nos transmite. <br><br>
                    2. Trabajamos duro para asegurarnos de que nuestros sitios web son seguros y que cumplen con
                    los estándares de la industria. También utilizamos otras salvaguardas como cortafuegos, sistemas
                    de autenticación (por ejemplo, contraseñas y números de identificación personal) y mecanismos
                    de control de acceso para controlar el acceso no autorizado a los sistemas y datos. <br><br>
                    3. También requerimos que utilice sus Códigos de Acceso personales (nombre de usuario y
                    contraseña personales) cada vez que acceda a su cuenta en línea. <br><br>
                    4. Restringimos el acceso a la
                    Información en nuestras oficinas para que sólo los funcionarios y/o empleados que necesitan
                    conocer la Información tengan acceso a ella. <br><br>
                    Tenga en cuenta que es imposible garantizar una transmisión de datos 100% segura a través de
                    internet. Como tal, le solicitamos que comprenda la responsabilidad de tomar
                    independientemente las precauciones de seguridad para proteger su propia información personal. <br><br>
                    Si sospecha que su información personal se ha visto comprometida, especialmente la información
                    de la cuenta y/o contraseña, comuníquese con el servicio al cliente de AXIN CAPITAL LLC de
                    inmediato.</p>
                
                <p class="negrita">DIVULGACIÓN REGLAMENTARIA</p>

                <p>1. En circunstancias limitadas, podemos revelar su información personal a terceros según lo
                    permitan las leyes y reglamentos aplicables o para cumplir con ellos. Por ejemplo, podemos
                    revelar información personal para cooperar con las autoridades reguladoras y las agencias de
                    aplicación de la ley para cumplir con citaciones u otras solicitudes oficiales, y según sea necesario
                    para proteger nuestros derechos o propiedades. <br><br>
                    2. Excepto en los casos descritos en esta política de privacidad, no utilizaremos su información
                    personal para ningún otro propósito, a menos que describamos cómo se utilizará dicha
                    información en el momento en que usted nos la revele u obtengamos su permiso.</p>
                
                <p class="negrita">CAMBIOS A ESTA DECLARACIÓN DE PRIVACIDAD</p>

                <p>1. Vigilaremos periódicamente la eficacia de la presente Política y, en particular, la calidad de la
                    ejecución de los procedimientos explicados en ella y, cuando proceda, nos reservamos el derecho
                    de corregir cualquier deficiencia. <br><br>
                    2. Informaremos a nuestros clientes de cualquier cambio material en esta Política mediante la
                    publicación de una versión actualizada de la misma en nuestro(s) sitio(s) web.</p>

                <p class="negrita">CONSENTIMIENTO DEL CLIENTE</p>
                
                <p>1. Al acceder y/o utilizar nuestro(s) sitio(s) web y/o nuestros servicios, usted está consintiendo la
                    transmisión de sus Datos Personales (es decir, su Información de identificación personal y sus
                    detalles de pago) a compañías externas para ayudarnos a procesarlos y/o analizarlos como parte
                    de la prestación de nuestros Servicios a usted, ya sea dentro o fuera del Área Económica Europea. <br><br>
                    2. Dichos Datos Personales también podrán ser utilizados con fines de marketing o para realizar
                    estudios de mercado para nosotros o para otras empresas de nuestro grupo que puedan utilizar
                    dichos Datos Personales para llamar su atención sobre productos y/o servicios que puedan ser de
                    su interés y también para ayudar a la prestación eficiente de nuestros servicios, todo ello de
                    conformidad con esta Política.</p>
                
                <p class="negrita">DERECHOS</p>
 
                <p>Si desea limitar el uso o divulgación de su información personal en nuestra posesión, para el
                    ejercicio de dichos derechos usted deberá enviar un correo electrónico a la siguiente dirección
                    legal@axincapital.com con el asunto “Limitación de datos personales”. Adicionalmente deberá
                    contener la siguiente información. <br><br>
                    1. Nombre del cliente. <br><br>
                    2. Declaración de hechos (explicación breve). <br><br>
                    3. Identificación.</p>

                <p class="negrita">CONTÁCTENOS</p>

                <p>Si tiene alguna pregunta sobre la privacidad y/o protección de datos en AXIN CAPITAL LLC, por
                    favor dirija sus preguntas a nuestro Departamento de cumplimiento legal@axincapital.com <br><br>
                    
                    Fecha de emisión original: Agosto 2020 <br>
                    Aprobado: Junta de Directores <br>
                    Propietario: AXIN CAPITAL LLC <br>
                    Persona de contacto: Director General <br>
                    Clasificación: Política de privacidad <br>
                    Aplicabilidad operativa: Todo el personal y los clientes <br>
                    Aplicabilidad geográfica: En todo el mundo <br>
                    Próxima fecha de revisión: Agosto de 2021 <br>
                    Versión: 1</p>
            </div>
        </div>
    </div>
</Section>
