
<div id="high3" class="py-4 d-flex justify-content-center align-items-center">

    <div class="container">


        <div class="row col-12 col-md-12 col-lg-12 m-auto px-0">
            
            <div class="col-12 col-md-12 col-lg-6 web">
               <h1 class="title">Plataforma de inversión</h1> <br>
               <h2 class="paragraph mb-2">De manera fácil y segura:</h2>
               <h3 class="ml-4 mb-2 paragraph">+ Agregar cuentas.</h3>
               <h3 class="ml-4 mb-2 paragraph">+ Realizar depósitos y retiros.</h3>
               <h3 class="ml-4 mb-2 paragraph">+ Monitorea tu inversión</h3>
               <h3 class="ml-4 paragraph">+ Haz transferencias internas</h3> <br>
               <button (click)="modalConocerMas()" class="ml-4 btn-custom py-2 px-4">Quiero saber más</button>
            </div>
            <div class="col-12 col-md-12 col-lg-6 d-flex align-items-center justify-content-center web">
               <img loading="lazy" class="col-12" src="assets/img/hihgFrecuencyTrading/plataforma.png" alt="plataforma">
            </div>


            <div class="col-12 col-md-12 col-lg-6 mob">
                <div class="col-12 mb-4 px-0">
                    <h1 class="title">Plataforma de inversión</h1>
                </div>
                <div class="col-12 d-flex align-items-center justify-content-center mb-4 px-0">
                    <img loading="lazy" class="col-12 px-0" src="assets/img/hihgFrecuencyTrading/plataforma.png" alt="plataforma">
                 </div>
                <div class="col-12 px-0">
                    <h3 class="mb-2 paragraph">De manera fácil y segura:</h3>
                    <h3 class="ml-4 mb-2 paragraph">+ Agregar cuentas.</h3>
                    <h3 class="ml-4 mb-2 paragraph">+ Realizar depósitos y retiros.</h3>
                    <h3 class="ml-4 mb-2 paragraph">+ Monitorea tu inversión</h3>
                    <h3 class="ml-4 paragraph">+ Haz transferencias internas</h3> <br>
                    <button (click)="modalConocerMas()" class="ml-4 btn-custom ">Quiero saber más</button>
                </div>
          
            </div>
      
        </div>
      
    </div>

</div>
  
  
  