
<div id="high1" class="py-4 d-flex justify-content-center align-items-center" style="overflow: hidden;">

  <div class="container">

      <div class="d-flex justify-content-center justify-content-lg-start">
          <img loading="lazy" src="assets/img/logo-blue.png" alt="vorofx vorofx" id="logo">
      </div>
    
      <div class="col-12 col-md-12 col-lg-12 row mx-auto px-0">
       
        <div class="col-12 col-md-12 col-lg-6 web mt-4 px-0">
            <h1 class="h1">Invierte en High Frecuency Trading</h1> <br>
            <p class="paragraph" style="font-size: 20px!important;">
                Desde $500 USD, con retornos atractivos <br>
                y liquidez inmediata.
            </p> <br>
            <button class="btn-custom">
                Quiero saber más
            </button>
            <img loading="lazy" id="img" src="assets/img/hihgFrecuencyTrading/LandingHighFrequencyTrading.png" alt="colibri" >
        </div>
        <div class="col-12 col-md-12 col-lg-6 web">
          <!-- <img loading="lazy" id="img" class="col-12" src="assets/img/hihgFrecuencyTrading/LandingHighFrequencyTrading.png" alt="colibri" > -->
        </div>

        <div class="col-12 col-md-12 col-lg-12 mob px-0">
          <div class="col-12 px-0">
            <h1 class="h1">Invierte en High Frecuency Trading</h1>
          </div>
          <div class="col-12 px-0">
            <img loading="lazy" style="width:510px; height:375px; margin-left: -54px;" src="assets/img/hihgFrecuencyTrading/LandingHighFrequencyTrading.png" alt="colibri" >
          </div>
          <div class="col-12 px-0">
            <p class="paragraph" style="font-size: 20px!important;">
              Desde $500 USD, con retornos <br> 
              atractivos y liquidez inmediata.
            </p> <br>
            <button class="btn-custom d-flex justify-content-center align-items-center m-auto m-md- m-lg-auto">
                Quiero saber más
            </button>
          </div>
        </div>




        
      </div>

      <div class="m-1 p-1 m-md-4 p-md-4"></div>


      <div class="col-12 col-md-12 col-lg-12 row m-auto px-0">
        <div class="col-12 col-md-6 col-lg-4 d-flex align-center justify-content-start mb-4 mb-lg-0">
          <img loading="lazy" class="img_point mr-2" src="assets/img/hihgFrecuencyTrading/Mesadetrabajo1.png" alt="colibri">
          <p class="mb-0 paragraph-exept">
            Operaciones rápidas de <br> 30 hasta 80 milisegundos.
          </p>
        </div>
        <div class="col-12 col-md-6 col-lg-4 d-flex align-center justify-content-start mb-4 mb-lg-0">
          <img loading="lazy" class="img_point mr-2" src="assets/img/hihgFrecuencyTrading/security.png" alt="security">
          <p class="mb-0 paragraph-exept">
            Beneficios de bajo riesgo, <br> 0.10% por operación.
          </p>
        </div>
        <div class="col-12 col-md-6 col-lg-4 d-flex align-center justify-content-start mb-4 mb-lg-0">
          <img loading="lazy" class="img_point mr-2" src="assets/img/hihgFrecuencyTrading/Goal.png" alt="goal">
          <p class="mb-0 paragraph-exept">
            Estrategia con <br> efectividad del 80%.
          </p>
        </div>


      </div>


    
  </div>

  </div>
  
  
  