<div class="ebook1">

    <div class="head-mob">
        <img loading="lazy" src="https://axincapital.app/images/ebook/logo-blue.png" alt="vorofx vorofx" class="logo">

        <h1>He decidido <span style="color:#0029FD;">invertir,</span> <br>
            ¿cómo empiezo?
        </h1>
    </div>
    <div class="info-content">
        <img loading="lazy" src="assets/img/logo-blue.png" alt="vorofx vorofx" class="web">
        <h1 class="web">He decidido <span style="color:#0029FD;">invertir,</span> <br class="web">
            ¿cómo empiezo?
        </h1>
        <p class="web">
            Invertir es una de las decisiones más inteligentes
           para mejorar tu calidad de vida y hacer crecer tu dinero a mediano y largo plazo.
           <br><br>
           Da el primer paso y empieza a invertir de forma inteligente.
        </p>

        <p class="mob">
            Invertir es una de las decisiones más inteligentes para mejorar tu calidad de vida y hacer crecer tu dinero a mediano y largo plazo. 
            <br><br>
            Da el primer paso y empieza a invertir de forma inteligente.
        </p>
    </div>
    <div class="background-img">
        <img loading="lazy" src="assets/img/ebook/book.png" alt="invierte-desde-cero">
    </div>
</div>
