

#institucional5 {
    background-color: #e2e3e3!important;

}

.plus {
    position: absolute!important;
    right: 4px!important;
}



.card-header {

    background-color: #e2e3e3!important;
    border-bottom: 1px solid rgba(0,0,0,.125);
    
}
.card-body {
 
    background-color: #e2e3e3!important;
    border-bottom: 1px solid rgba(0,0,0,.125);
    
}

button {
    color: black!important;
    text-decoration: none!important;
    border: none!important;
    background: transparent!important;
}




