
  
<div id="invierte2" class="py-4 d-flex justify-content-center align-items-center">

    <div class="container">

        <div class="d-flex justify-content-around justify-content-lg-center mb-4">
            <div class="col-9 px-2 px-md-0">
                <h1 class="title mt-4 float-left">Qué es invertir tu Realidad</h1>
            </div>
            <div class="col-3 d-flex">
                <img loading="lazy" class="float-right" src="assets/img/invierte/refresh-line.svg" alt="Axin" id="circle">
            </div>
            
        </div>
        <div class="col-12 px-0">
            <p class="paragraph text-justify">
                Invertir tu realidad es <strong>darle un giro a tu vida</strong> para lograr todo aquello que siempre soñaste, sin trucos de magia ni productos milagro, sino a través de nuevos hábitos que te ayuden a mantener unas finanzas más sanas y hacer crecer tu dinero de manera segura.
            </p>
        </div>
      
    </div>

</div>
  