<Section id="retiro">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <p class="negrita">Política de Retiro</p>

                <p>Nos reservamos el derecho de imponer límites de retiro y tarifas de retiro en nuestro Centro de operaciones
                    en línea, en cualquier momento.</p>
                <p>Al enviar una solicitud de retiro, es posible que se le solicite que envíe la documentación requerida por la
                    “Legislación contra el lavado de dinero (“AML”) y Conozca a su cliente (“KYC”)” y / o cualquier otra regla y
                    normativa similar que nos sea aplicable.</p>
                <p>Cuando se realiza un retiro o reembolso, nos reservamos el derecho (pero bajo ninguna circunstancia
                    estaremos obligados) a remitir los fondos al mismo remitente desde y por el mismo método de pago a
                    través del cual tales fondos fueron recibidos inicialmente por nosotros. En ese sentido, nos reservamos el
                    derecho, a nuestro exclusivo criterio, (a) de rechazar retiros a través de ciertos métodos de pago específicos;
                    (b) requerir otro método de pago como el indicado en cualquier solicitud de retiro, en cuyo caso puede ser
                    necesario presentar una nueva solicitud de retiro; y / o (c) requerir que se presente más documentación,
                    según lo requiera la Legislación contra el lavado de dinero (“ AML ”) y Conozca a su cliente (“ KYC ”)” y / o
                    cualquier otra regla y regulación similar aplicable a nosotros, antes de proceder con cualquier solicitud de
                    retiro.</p>
                <p>Si no podemos remitir los fondos, o cualquier cantidad parcial de los mismos, al mismo remitente desde y
                    por el mismo método de pago a través del cual recibimos inicialmente dichos fondos, nos reservamos el
                    derecho (pero bajo ninguna circunstancia estaremos obligados) para transmitir los fondos a través de un
                    método de pago alternativo seleccionado por nosotros, a nuestro exclusivo criterio, en dólares
                    estadounidenses (independientemente de la moneda en la que se realizó el depósito inicial). Bajo estas
                    circunstancias, no seremos responsables de ninguna tarifa de transferencia o cargos cobrados por el
                    receptor y / o de cualquier tipo de cambio de moneda resultante del pago de dicha cantidad en dólares
                    estadounidenses.</p>
                <p>Las solicitudes de retiro que aceptamos y aprobamos de acuerdo con los términos del Acuerdo y / o
                    cualquier acuerdo entre nosotros, incluidos, entre otros, estos Términos y condiciones, se procesan, en
                    principio, dentro de un día hábil posterior a la recepción. De las instrucciones de solicitud de transferencia.
                    El monto por transferir reducirá el saldo de la (s) Cuenta (s) relevante (s) desde la cual se realizará dicha
                    transferencia, cuando finalice el proceso de solicitud de transferencia. Nos reservamos el derecho (a) de
                    rechazar una solicitud de retiro si la solicitud no está de acuerdo con las disposiciones de esta sección, o
                    retrasar el procesamiento de la solicitud si no estamos satisfechos con la documentación auxiliar presentada
                    con el Solicitud de Retiro.</p>

                <p>Usted acepta pagar las tarifas de transferencia bancaria incurridas cuando está retirando fondos de su (s)
                    Cuenta (s) o cuando los fondos son reembolsados ​​por nosotros a su cuenta bancaria designada. Usted es el
                    único responsable de los detalles de pago que nos proporciona y no aceptamos ninguna responsabilidad por
                    sus fondos, si los detalles de pago que nos ha proporcionado son incorrectos o incompletos. También se
                    entiende que no aceptamos ninguna responsabilidad por los fondos que no se depositan directamente en
                    nuestras cuentas bancarias.</p>
                <p>Las ganancias solo se pueden pagar al iniciador de una Cuenta y a una cuenta con una institución financiera
                    a su nombre y no a la cuenta de ningún tercero. Cuando mantiene una Cuenta con nosotros por medio de
                    depósitos telegráficos/cablegráficos, las ganancias solo se pagan al titular de la cuenta (bancaria) de origen,
                    y es su responsabilidad asegurarse de que el número de cuenta y el nombre acompañen todas las
                    transferencias a nosotros. Cuando mantiene una Cuenta mediante depósitos con tarjeta de crédito / débito,
                    las ganancias se devuelven a la misma tarjeta de crédito / débito hasta el valor de la garantía depositada
                    mediante la tarjeta de crédito / débito. Las ganancias adicionales que excedan el valor de la garantía
                    depositada a través de la tarjeta de crédito / débito serán transferidas por medio de depósitos telegráficos /
                    bancarios sujetos a las condiciones descritas anteriormente.</p>
            </div>
        </div>
    </div>
</Section>
