<section class="px-md-5 px-4 py-5">
  <div class="container content w-100 h-100 py-5 m-auto d-flex flex-column align-items-center justify-content-between">
    <h1>Nuestros Proveedores de Liquidez</h1>
    <div class="text-content text-sm-start">
      <p>
        Trabajamos de la mano con <strong>grandes proveedores de liquidez </strong> para tener la mejor y más eficiente
        ejecución y
        administración de portafolios. Diseñamos portafolios seleccionando los <strong> mejores activos</strong> y
        <strong> productos innovadores</strong> que
        ayuden a lograr los objetivos financieros y patrimoniales de nuestros clientes.
      </p>
    </div>
    <div class="logos d-flex justify-content-center align-items-center flex-wrap px-lg-3">
      <div class="item d-flex justify-content-center align-items-center">
        <div class="logo d-flex justify-content-center align-items-center">
          <img src="assets/img/aboutUs/ISPRIME.png" alt="is Prime">
        </div>
      </div>
      <div class="item d-flex justify-content-center align-items-center">
        <div class="logo d-flex justify-content-center align-items-center">
          <img src="assets/img/aboutUs/FXCM.png" alt="fxcm">
        </div>
      </div>
      <div class="item d-flex justify-content-center align-items-center">
        <div class="logo d-flex justify-content-center align-items-center">
          <img src="assets/img/aboutUs/ONEZERO.png" alt="oneZero">
        </div>
      </div>
      <div class="item d-flex justify-content-center align-items-center">
        <div class="logo d-flex justify-content-center align-items-center">
          <img src="assets/img/aboutUs/LMAX.png" alt="LMAX">
        </div>
      </div>
      <div class="item d-flex justify-content-center align-items-center">
        <div class="logo d-flex justify-content-center align-items-center">
          <img src="assets/img/aboutUs/MARKSMAN.png" alt="MarksMan">
        </div>
      </div>
    </div>
  </div>
</section>
