<section id="reset" class="py-5 px-3 p-md-5 d-flex justify-content-between flex-column">

  <div class="container">
    <div class="row">
      <div class="col-12 mb-4">
        <a [routerLink]="['/home']"><img loading="lazy" id="logoLogin" src="assets/img/logo-black.png" alt="vorofx vorofx"></a>
      </div>
      <div class="col-12" style="height: 58px;">
        <!-- <h1 class="h4 text-center">Bienvenido a <strong>Axin Capital</strong></h1> <br> -->
      </div>
      <form [formGroup]="activationForm" (ngSubmit)="onSubmit()"
        class="bg-white col-12 col-md-8 col-lg-6 col-xl-5 m-auto px-0 mx-0 rounded-circle">
        <div [routerLink]="['/inicio_de_sesion']" class="col-md-12 col-lg-12 p-3 mx-0 headform">
          <p class="h7 text-white text-start my-0"><i class="fas fa-chevron-left"></i> Regresar</p>
        </div>
        <div class="form-row col-md-12 col-lg-10 m-auto bg-white p-4">
          <div class="my-4 mx-auto">
            <h1 class="h4 text-center">Reenviar e-mail de <br> activación</h1>
          </div>
          <div class="col-md-12 col-lg-12">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label><span>Correo electrónico</span>*</mat-label>
              <input matInput formControlName="email">
              <mat-hint *ngIf="error"><small style="color: red!important;">{{ error }}</small></mat-hint>
              <mat-error
                *ngIf="activationForm.controls['email'].errors?.required && activationForm.controls['email'].touched">
                Correo electronico requerido</mat-error>
              <mat-error
                *ngIf="activationForm.controls['email'].errors?.email && activationForm.controls['email'].touched">
                Correo electronico invalido</mat-error>
            </mat-form-field>
          </div>

          <button class="btn btn-primary btn-block mx-3 mt-3" type="submit" [disabled]="!activationForm.valid || load">
            <span *ngIf="!load">Continuar</span>
            <span *ngIf="load" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
            <span *ngIf="load" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
            <span *ngIf="load" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
          </button>

        </div>

      </form>
      <!-- <div class="col-12 mt-4 mx-auto">
                <p class="text-center" style="color: #96a5c6 !important;">
                <small>
                        Contáctanos: <strong><a href="mailto:hola@axincapital.com">hola@axincapital.com</a></strong> <br>
                        Si tienes algún problema <br>
                </small>
                </p>

            </div> -->
    </div>


  </div>

  <div class="contact_us">
    <p class="text-center" style="color: #96a5c6 !important;">
      <small>
        Contáctanos: <strong><a href="mailto:hola@axincapital.com">hola@axincapital.com</a></strong> <br>
        Si tienes algún problema <br>
      </small>
    </p>
  </div>
</section>
