<section id="intitucional2" class="py-5 px-3 p-md-5 d-flex justify-content-around align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="h3 text-left text-lg-center font-weight-bold">¿Qué es portafolio dedicado?</h1>
        <br>
        <!-- <h2 class="h4 text-left text-lg-center">
                        Un portafolio dedicado es el activo mán valiso que puede ayudarte a satisfacer las 
                        necesidades y requisitos de tu modelo de negocio más sofisticado, esta herramienta es 
                        ampliamente utilizada por Mutual Funds Crowfunding y todo tipo de Empresas. Nuestros 
                        portafolios se gestionan de forma privada con configuraciones personalizadas.
                    </h2> -->

        <h2 class="h4 text-justify">
          Un portafolio dedicado es el activo más valioso que puede ayudarte a satisfacer las necesidades y requisitos
          hasta del modelo de negocio más sofisticado, esta herramienta es ampliamente utilizada por <span style="font-weight: 800;"> Mutual Funds
          Crowfunding</span> y todo tipo de empresas.
          Nuestros portafolios se gestionan de forma privada con configuraciones personalizadas.
        </h2>
      </div>
      <div class="row col-md-12 mt-2">
        <div class="col-12 col-md-12 col-lg-12 col-xl-4">
          <img loading="lazy" src="assets/img/institucional/20.png" alt="segmento"
            class="py-4 img-fluid rounded-circle">
          <p class="font-weight-bold">Nuevo segmento <br> de clientes</p>
          <p>
            Atrae a todo tipo de
            inversionistas con portafolios
            dedicados a estrategias de
            inversión multifuncionales <br>
            __________
          </p>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-xl-4">
          <img loading="lazy" src="assets/img/institucional/21.png" alt="riesgo" class="py-4 img-fluid rounded-circle">
          <p class="font-weight-bold">Gestión de riesgo <br> </p><br>
          <p>
            Con nuestros portafolios
            dedicados, puedes establecer un
            límite de riesgo para tus
            estrategias y sentirte tranquilo <br>
            __________
          </p>

        </div>
        <div class="col-12 col-md-12 col-lg-12 col-xl-4">
          <img loading="lazy" src="assets/img/institucional/22.png" alt="crypto" class="py-4 img-fluid rounded-circle">
          <p class="font-weight-bold">Procesamiento Crypto <br> tiempo vida</p>
          <p>
            Ofrecemos a tus clientes un nuevo y
            emocionante método de pago a
            través de las criptomonedas y ver
            crecer tu negocio <br>
            __________
          </p>

        </div>


      </div>
    </div>
  </div>
</section>
