<section id="vorofx" class="py-5 px-3 p-md-5 d-flex justify-content-center align-items-center">
   <div class="container">
      <div class="row">
         <div class="col-12 mb-4">
            <h1 class="h3 text-md-center text-sm-left font-weight-bold">¿Qué es Axin?</h1>
         </div>
        
      </div>
      <div class="row queEsAxin justify-content-center align-items-center">
         <div class="col-12 col-md-4 col-lg-4">
            <img loading="lazy" style="width:40%" class="mx-auto d-block" src="assets/img/Que_es_vorofx_1.png" alt="world">
            <h2 class="h4 text-center">Inversión</h2>
            <p class="text-center ">
               Invierte tu dinero en renta fija, <br>
               renta variable de manera confiable. <br>
            </p>
         </div>
         <div class="col-12 col-md-4 col-lg-4">
            <img loading="lazy" style="width:40%" class="mx-auto d-block" src="assets/img/Que_es_vorofx_2.png" alt="money">
            <h2 class="h4 text-center">Crecimiento</h2>
            <p class="text-center ">
               Contamos con productos capaces <br>
               de brindarte altos rendimientos. <br>
            </p>
         </div>
         <div class="col-12 col-md-4 col-lg-4">
            <img loading="lazy" style="width:40%" class="mx-auto d-block" src="assets/img/Que_es_vorofx_3.png" alt="UpDown">
            <h2 class="h4 text-center">Disponibilidad</h2>
            <p class="text-center ">
               Haz retiros de tu wallet a tu cuenta <br>
               bancaria en cualquier momento. <br>
              
            </p>
         </div>
      </div>
      
   </div>
</section>